{% extends "material/base.html.twig" %}

{% block body %}
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">
            Newsy <a href="{{ url('article.add') }}" class="btn btn-primary">Dodaj nowy</a>
        </h2>
    </div>
    <div class="container">
        {% block adbanner %}{{ parent() }}{% endblock %}
        <div class="row">
            <div class="col-md-8">
                <div class="container-fluid">
                    {% for article in articles %}
                        {% if loop.index%2 or loop.first %}
                            <div class="row">
                        {% endif %}
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header danger-color-dark white-text">
                                    {{ article.title|slice(0,25) }}...
                                </div>
                                <div class="card-block">
                                    {% if article.imageName %}
                                        <img src="{{ app.request.basePath }}{{ vich_uploader_asset(article, 'imageFile', 'NewsBundle\\Entity\\News') }}"
                                             alt="{{ article.title }}" class="img-fluid">
                                    {% endif %}
                                    <p class="card-text">{{ article.introduction|slice(0,100) }}</p>
                                    <a href="{{ url('article.id',{'id': article.id, 'title': article.title|replace({' ': '-'})}) }}"
                                       class="btn btn-danger">Czytaj dalej...</a>
                                </div>
                            </div>
                        </div>
                        {% if not loop.index%2 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% if page > 0 %}
                            <a href="{{ url('articles',{'page': page-1}) }}"
                               class="btn btn-raised btn-danger btn-block">{{ 'button.prev'|trans }}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url('articles',{'page': page+1}) }}"
                           class="btn btn-raised btn-danger btn-block">{{ 'button.next'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 hidden-sm" style="text-align: center">
                <span class="label label-pill label-danger center-block">Najciekawsze!</span>
                <hr>
                {% for article in promoted %}
                    <a href="{{ url('article.id',{'id': article.id, 'title': article.title|replace({' ': '-'})}) }}">
                        {{ article.title }}
                    </a>
                    <hr>
                {% endfor %}
            </div>
            <div class="col-md-2">
                <a href="{{ url('article.all') }}" class="btn btn-primary btn-block"><span
                            class="p-x-3">{{ 'button.all'|trans }}</span></a>
                {% block sidebar %}
                    {{ parent() }}
                {% endblock %}
                {% block adsidebar %}{{ parent() }}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}