<!DOCTYPE html>
<html>
<head>
    {{ sonata_seo_metadatas() }}

    {{ sonata_seo_title() }}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}

    {% block head %}{% endblock %}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/img/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/img/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('assets/img/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

</head>
<body style="visibility: hidden !important;">

<div id="babasbmsgx" style="visibility: visible !important;">
    {{ 'ad.disable'|trans }}
</div>

{% block navbar %}
    {# Górny Navbar logowania #}
    <nav class="navbar navbar-dark bg-inverse">
        <div class="container">
            <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="navbar">
                    <nav class="nav navbar-nav pull-xs-left">
                        <p>
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        </p>
                    </nav>
                    <nav class="nav navbar-nav pull-xs-right">
                        <p>
                            <a href="{{ url('user',{'user': app.user.username}) }}">
                                <i class="fa fa-user"
                                   aria-hidden="true"></i> {{ 'profile.publicprofil'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a href="{{ url('fos_user_profile_show') }}">
                                <i class="fa fa-user-secret"
                                   aria-hidden="true"></i> {{ 'profile.profil'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a href="{{ url('fos_user_change_password') }}">
                                <i class="fa fa-key"
                                   aria-hidden="true"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a href="{{ url('fos_user_profile_edit') }}">
                                <i class="fa fa-pencil"
                                   aria-hidden="true"></i> {{ 'profile.edit.edit'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a href="{{ url('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out"
                                   aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </p>
                    </nav>
                </div>

            {% else %}
                <div id="navbar">
                    <nav class="nav navbar-nav pull-xs-left">
                        <p>{{ 'account.joincomunity'|trans }}
                            <a href="{{ url('fos_user_registration_register') }}">
                                <span>{{ 'account.register'|trans }}</span>
                            </a> {{ 'account.now'|trans }}
                            <a href="{{ url('fos_user_resetting_request') }}">
                            <span>{{ 'account.forgotpass'|trans }}</span>
                            </a>
                        </p>
                    </nav>
                    <nav class="nav navbar-nav pull-xs-right">
                        <p>
                            <a href="{{ url('fos_user_security_login') }}" class="p-r-1">
                                <i class="fa fa-user"
                                   aria-hidden="true"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a href="{{ url('fos_user_registration_register') }}">
                                <i class="fa fa-user-plus"
                                   aria-hidden="true"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </p>
                    </nav>
                </div>
            {% endif %}
        </div>
    </nav>

    {# Główny navbar mobilny #}
    <nav class="navbar hidden-lg-up navbar-light nav-green">
        <button class="navbar-toggler hidden-lg-up pull-xs-left" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar2">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar2">
            <a class="navbar-brand" href="{{ url('homepage') }}">
                <img class="img-fluid" src="{{ asset('assets/img/Logo.png') }}">
            </a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="modal" data-target="#tournaments">
                        <p style=" font-weight: bold; color: #303030;" class="p-l-1">
                            TOURNAMENTS<span style="color: #e91e63">AREA</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#games">
                        <p style="font-weight: bold; color: #303030;" class="p-l-1">
                            GAMES<span style="color: #ff9800">AREA</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#fans">
                        <p style=" font-weight: bold; color: #303030;" class="p-l-1">
                            FANS<span style="color: #8bc34a">AREA</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    {# Główny Navbar desktop #}
    <nav class="hidden-md-down" style="margin-bottom: -16px;">
        {% if color is defined %}
            <div class="bar-nav c-{{ color }}"></div>
        {% else %}
            <div class="bar-nav c-red"></div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-3 p-x-0" style="height: 56px">
                    <div class="trap">
                        <div class="trap-">
                            <a href="{{ url('homepage') }}">
                                <img class="" src="{{ asset('assets/img/Logo1.png') }}"
                                     style="padding: 4px 4px;width: 100%;margin-top: -5px;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-x-0">
                    <div class="t-45 first" style="border-bottom-color: #e91e63;">
                        <a data-toggle="modal" data-target="#tournaments">
                            <p class="t45 p-l-1" style="font-weight: bold; color: #303030;">
                                TOURNAMENTS<span style="color: #e91e63">AREA</span>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 p-x-0">
                    <div class="t-45" style="border-bottom-color: #ff9800;">
                        <a data-toggle="modal" data-target="#games">
                            <p class="t45 p-l-1" style=" font-weight: bold; color: #303030;">
                                GAMES<span style="color: #ff9800">AREA</span>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 p-x-0">
                    <div class="t-45 last">
                        <a data-toggle="modal" data-target="#fans">
                            <p class="t45 p-l-1" style="font-weight: bold; color: #303030;">
                                FANS<span style="color: #8bc34a">AREA</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {# Modale #}
    <div id="tournaments" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">TOURNAMENTSAREA</h4>
                </div>
                <div class="modal-body">
                    <a href="{{ url('tournament') }}" type="button"
                       class="btn btn-primary btn-lg btn-block">{{ 'nav.turnaments'|trans }}</a>
                    <a href="{{ url('team') }}" type="button"
                       class="btn btn-primary btn-lg btn-block">{{ 'nav.teams'|trans }}</a>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div id="games" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">GAMESAREA</h4>
                </div>
                <div class="modal-body">
                    <a href="{{ url('news') }}" type="button"
                       class="btn btn-primary btn-lg btn-block">{{ 'nav.news'|trans }}</a>
                    <a href="{{ url('news.add') }}" type="button"
                       class="btn btn-primary btn-lg btn-block">{{ 'nav.addrss'|trans }}</a>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div id="fans" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">FANSAREA</h4>
                </div>
                <div class="modal-body">
                    <div class="btn-group btn-group-justified">
                        <a href="{{ url('meme') }}" type="button"
                           class="btn btn-primary btn-lg">{{ 'nav.meme'|trans }}</a>
                        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url('meme.wait') }}">{{ 'button.waitingroom'|trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('meme.add') }}">{{ 'form.add'|trans }}</a>
                        </div>
                    </div>
                    <a href="{{ url('stream') }}" type="button"
                       class="btn btn-primary btn-lg">{{ 'nav.streams'|trans }}</a>
                    <div class="btn-group btn-group-justified">
                        <a href="{{ url('video') }}" type="button"
                           class="btn btn-primary btn-lg">{{ 'nav.video'|trans }}</a>
                        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url('video.wait') }}">{{ 'button.waitingroom'|trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('video.add') }}">{{ 'form.add'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
<div class="pre-footer m-t-2">
    <div class="container">
        <div class="row p-y-1">
            <div class="col-md-3">
                <p class="m-b-1 dots btn-footer" style="border-color: #e91e63;">
                    <span class="p-x-1 text">TOURNAMENTS<span style="color: #e91e63">AREA</span></span>
                </p>
                <div class="pre-f-p">
                    <p>{{ 'tournament.calendarium'|trans }}</p>
                    <p>{{ 'tournament.create'|trans }}</p>
                    <p>{{ 'team.list'|trans }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <p class="m-b-1 dots btn-footer" style="border-color: #ff9800;">
                    <span class="p-x-1 text">GAMES<span style="color: #ff9800">AREA</span></span>
                </p>
                <div class="pre-f-p">
                    <p><a href="{{ url('news') }}">{{ 'nav.news'|trans }}</a></p>
                    <p><a href="{{ url('news.add') }}">{{ 'nav.addrss'|trans }}</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <p class="m-b-1 dots btn-footer" style="border-color: #8bc34a;">
                    <span class="p-x-1 text">FANS<span style="color: #8bc34a">AREA</span></span>
                </p>
                <div class="pre-f-p">
                    <p><a href="{{ url('stream') }}">{{ 'nav.streams'|trans }}</a></p>
                    <p><a href="{{ url('meme') }}">{{ 'nav.meme'|trans }}</a></p>
                    <p><a href="{{ url('video') }}">{{ 'nav.video'|trans }}</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <p class="m-b-1 dots btn-footer" style="border-color: #8a8b8a;">
                    <span class="p-x-1 text">SUPPORT<span style="color: #8a8b8a">AREA</span></span>
                </p>
                <div class="pre-f-p">
                    <p>
                        <a href="{{ url('redirect', {'url': 'http://blog.jestemgraczem.pl'}) }}">{{ 'nav.blog'|trans }}</a>
                    </p>
                    <p><a href="{{ url('cms',{'title': 'support'}) }}">{{ 'nav.support'|trans }}</a></p>
                    <p><a href="{{ url('cms',{'title': 'regulamin'}) }}">{{ 'nav.rules'|trans }}</a></p>
                    <p><a href="{{ url('cms',{'title': 'jak-stworzyc-turniej'}) }}">{{ 'nav.howto'|trans }}</a></p>
                    <p><a href="{{ url('cms',{'title': 'program-partnerski'}) }}">{{ 'nav.ppartner'|trans }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% if color is defined %}
<footer class="p-y-1 c-{{ color }}">
    {% else %}
    <footer class="p-y-1 c-red">
        {% endif %}
        <p class="text-xs-center m-y-0">
            Copyright &copy; {{ "now"|date('Y') }} <span style="color: #000000">JestemGraczem.pl</span>
        </p>
    </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script async src="{{ asset('assets/js/tether.min.js') }}"></script>
        <script async src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script async src="https://use.fontawesome.com/c0b3ee6d21.js"></script>
        <script src="{{ asset('assets/js/jquery.cookiesdirective.js') }}"></script>
        {% if app.session.flashBag.has('error') or app.session.flashBag.has('info') or app.session.flashBag.has('warning') or app.session.flashBag.has('success') %}
        <script src="{{ asset('assets/js/sweetalert.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/js/sweetalert.css') }}" property="stylesheet">
        {% endif %}

        <script type="text/javascript">
            $(document).ready(function () {
                {% for flash_message in app.session.flashBag.get('error') %}
                sweetAlert("Oops...", "{{ flash_message }}", "error");
                {% endfor %}

                {% for flash_message in app.session.flashBag.get('info') %}
                sweetAlert("Informacja", "{{ flash_message }}", "info");
                {% endfor %}

                {% for flash_message in app.session.flashBag.get('warning') %}
                sweetAlert("Ostrzeżenie", "{{ flash_message }}", "warning");
                {% endfor %}

                {% for flash_message in app.session.flashBag.get('success') %}
                sweetAlert("Jupi!", "{{ flash_message }}", "success");
                {% endfor %}

                $.cookiesDirective({
                    privacyPolicyUri: '{{ url('cms',{'title':'regulamin'}) }}',
                    explicitConsent: false,
                    position: 'top',
                    backgroundColor: '#FF0000',
                    linkColor: '#00FF00'
                });

                window.doorbellOptions = {
                    appKey: 'eFPzjPWMWqQC1VUSI4EZkKJIEZPpptfouJbYhkDtSerECdUi7QKz7QWclpzZnFCr'
                };
                (function (w, d, t) {
                    var hasLoaded = false;

                    function l() {
                        if (hasLoaded) {
                            return;
                        }
                        hasLoaded = true;
                        window.doorbellOptions.windowLoaded = true;
                        var g = d.createElement(t);
                        g.id = 'doorbellScript';
                        g.type = 'text/javascript';
                        g.async = true;
                        g.src = 'https://embed.doorbell.io/button/3971?t=' + (new Date().getTime());
                        (d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(g);
                    }

                    if (w.attachEvent) {
                        w.attachEvent('onload', l);
                    } else if (w.addEventListener) {
                        w.addEventListener('load', l, false);
                    } else {
                        l();
                    }
                    if (d.readyState == 'complete') {
                        l();
                    }
                }(window, document, 'script'));
            });
        </script>

    {% endblock %}

    {{ include('adblock.html.twig') }}

</body>
</html>
