<!DOCTYPE html>
<html>
<head>
    {{ sonata_seo_metadatas() }}

    <title>{% block title %}Strona główna{% endblock %} :: JestemGraczem.pl</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {#<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css') }}">#}
        <link rel="stylesheet" href="{{ asset('assets/css/material.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/ripples.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}

    {% block head %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% include 'navbar.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('danger') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message }}
        </div>
    {% endfor %}
    <main class="container">
        <div class="row">
            <div class="jumbotron col-xs-8">
                <div class="row">
                    <div class="container-fluid">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="jumbotron col-xs-3" style="margin-left: 20px">
                {% block sidebar %}
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1191702130875167";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/JestemGraczemPL/" data-tabs="timeline"
                         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/JestemGraczemPL/"><a
                                        href="https://www.facebook.com/JestemGraczemPL/">JestemGraczem.pl</a>
                            </blockquote>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{{ include('footer.html.twig') }}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/material.min.js') }}"></script>
    <script src="{{ asset('assets/js/ripples.min.js') }}"></script>
    <script src="https://use.fontawesome.com/c0b3ee6d21.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script>
        $.material.init();
    </script>
{% endblock %}
</body>
</html>
