<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">JestemGraczem.pl</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homepage') }}">News</a></li>
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Memy <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('meme') }}">Główna</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Dodatkowo</li>
                        <li><a href="{{ path('meme.wait') }}">Poczekalnia</a></li>
                        <li><a href="{{ path('meme.add') }}">Dodaj</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Filmy <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Filmy</li>
                        <li><a href="{{ path('video') }}">Zobacz filmy</a></li>
                        <li><a href="{{ path('video.add') }}">Dodaj film</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Streamy</li>
                        <li><a href="javascript:void(0)">Zobacz streamy</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('user',{'user': app.user.username}) }}">
                                    <i class="fa fa-user"
                                       aria-hidden="true"></i> {{ 'profile.publicprofil'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <i class="fa fa-user-secret"
                                       aria-hidden="true"></i> {{ 'profile.profil'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">
                                    <i class="fa fa-key"
                                       aria-hidden="true"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">
                                    <i class="fa fa-pencil"
                                       aria-hidden="true"></i> {{ 'profile.edit.edit'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out"
                                       aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-sign-in"
                               aria-hidden="true"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            <i class="fa fa-user-plus"
                               aria-hidden="true"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>