{% extends "base.html.twig" %}

{% block menu %}
    <li><a href="{{ path('meme') }}">Główna</a></li>
    <li><a href="{{ path('meme.wait') }}">Poczekalnia</a></li>
    <li class="active"><a href="{{ path('meme.add') }}">Dodaj</a></li>
{% endblock %}

{% block title %}Dodaj mem{% endblock %}
{% block titlemeta %}Dodaj{% endblock %}

{% form_theme form ':Form:form.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
