{% extends "base.html.twig" %}

{% block menu %}
    <li>
        <a href="{{ path('meme') }}">
            <i class="fa fa-picture-o" aria-hidden="true"></i> Główna
        </a>
    </li>
    <li>
        <a href="{{ path('meme.wait') }}">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Poczekalnia
        </a>
    </li>
    <li class="active">
        <a href="{{ path('meme.add') }}">
            <i class="fa fa-plus" aria-hidden="true"></i> Dodaj
        </a>
    </li>
{% endblock %}

{% block title %}Dodaj mem{% endblock %}
{% block titlemeta %}Dodaj{% endblock %}

{% form_theme form ':Form:form.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
