{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
        <div class="col-sm-6 btn-clear-lg p-l-1 ">
            <span style="color: #8bc34a;">NAJNOWSZE</span>MEMY
        </div>
        <div class="col-sm-6">
            <a href="{{ url('meme.add') }}" type="button" class="btn btn-green pull-sm-right"><span class="p-x-3">Dodaj nowy</span></a>
        </div>
        </div>
    </div>
    <div class="container p-t-5 p-b-2">
        <div class="row">
            <div class="col-md-8">
                {% if meme %}
                    {% for mem in meme %}
                        <div class="meme">
                            <div class="m-title">
                                <a class="text-center" href="{{ url('meme.id',{'id': mem.id}) }}">
                                    <h3 class="m-b-0">
                                        {{ mem.title|slice(0,50) }}
                                    </h3>
                                </a>
                            </div>
                            <div class="m-img">
                                <a href="{{ url('meme.id',{'id': mem.id}) }}">
                                    <img src="{{ asset('assets/mem/') ~ mem.url }}" alt="{{ mem.title|slice(0,50) }}" class="img-responsive pull-xs-left video p-b-0">
                                </a>
                            </div>
                            <div class="m-bottom">
                                <div class="fb-like" data-href="{{ url('meme.id',{'id': mem.id}) }}"
                                     data-layout="standard" data-action="like" data-show-faces="false"
                                     data-share="true">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-6">
                            {% if page > 0 %}
                                <a href="{{ url('meme',{'page': page-1}) }}" class="btn btn-raised btn-danger btn-block">Poprzednie</a>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <a href="{{ url('meme',{'page': page+1}) }}"
                               class="btn btn-raised btn-danger btn-block">Kolejne</a>
                        </div>
                    </div>
                {% else %}
                    <h1>Brak memów :( Smutek.jpg</h1>
                {% endif %}
            </div>
            <div class="col-md-4">
                <a href="{{ url('meme.wait') }}" type="button" class="btn btn-green btn-block"><span class="p-x-3">Poczekalnia</span></a>
                {{ include('navbar.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}