{% extends 'all.html.twig' %}

{% block menu %}
    <li class="active">
        <a href="{{ path('meme') }}">
            <i class="fa fa-picture-o" aria-hidden="true"></i> Główna
        </a>
    </li>
    <li>
        <a href="{{ path('meme.wait') }}">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Poczekalnia
        </a>
    </li>
    <li>
        <a href="{{ path('meme.add') }}">
            <i class="fa fa-plus" aria-hidden="true"></i> Dodaj
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if meme %}
            {% for mem in meme %}
                <div class="meme jumbotron">
                    <div class="m-title">
                        <a href="{{ path('meme.id',{'id': mem.id}) }}">
                            <h3>
                                {{ mem.title|slice(0,50) }}
                                <div class="fb-like" data-href="{{ path('meme.id',{'id': mem.id}) }}"
                                     data-layout="standard" data-action="like" data-show-faces="false"
                                     data-share="true"></div>
                            </h3>
                        </a>
                    </div>
                    <div class="m-img">
                        <a href="{{ path('meme.id',{'id': mem.id}) }}">
                            <img src="{{ asset('assets/mem/') ~ mem.url }}" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="m-bottom">
                        <small>{{ mem.date.date|date('d/m/Y') }}</small>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-6">
                    {% if page > 0 %}
                        <a href="{{ path('meme',{'page': page-1}) }}" class="btn btn-raised btn-danger btn-block">Poprzednie</a>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <a href="{{ path('meme',{'page': page+1}) }}"
                       class="btn btn-raised btn-danger btn-block">Kolejne</a>
                </div>
            </div>
        {% else %}
            <h1>Brak memów :( Smutek.jpg</h1>
        {% endif %}
    </div>
{% endblock %}