{% extends 'all.html.twig' %}

{% block menu %}
    <li>
        <a href="{{ path('meme') }}">
            <i class="fa fa-picture-o" aria-hidden="true"></i> Główna
        </a>
    </li>
    <li>
        <a href="{{ path('meme.wait') }}">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Poczekalnia
        </a>
    </li>
    <li>
        <a href="{{ path('meme.add') }}">
            <i class="fa fa-plus" aria-hidden="true"></i> Dodaj
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="meme jumbotron">
            <div class="m-title">
                <h3>{{ mem.title }} </h3>
            </div>
            <div class="m-img">
                <img src="{{ asset('assets/mem/') ~ mem.url }}" alt="" class="img-responsive">
            </div>
            <div class="m-bottom">
                <small>{{ mem.date.date|date('d/m/Y') }}</small>
            </div>
        </div>
        <div class="meme jumbotron">
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1792775277616619";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-comments" data-href="{{ absolute_url(path('meme.id', {'id': mem.id})) }}"
                 data-numposts="10"></div>
        </div>
    </div>
{% endblock %}