{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-6 btn-clear-lg p-l-1 ">
                <span style="color: #8bc34a;">Najlepsze</span>Memy
            </div>
            <div class="col-sm-6">
                <a href="{{ url('meme.add') }}" type="button" class="btn btn-green pull-sm-right"><span class="p-x-3">Dodaj nowy</span></a>
            </div>
        </div>
    </div>
    <div class="container p-t-5 p-b-2">
        <div class="row">
            <div class="col-md-8">
                <div class="meme jumbotron">
                    <div class="m-title">
                        <h3>
                            {{ mem.title }}
                        </h3>
                    </div>
                    <div class="m-img">
                        <img src="{{ asset('assets/mem/') ~ mem.url }}" alt="" class="img-responsive">
                    </div>
                    <div class="m-bottom">
                        <div class="fb-like" data-href="{{ url('meme.id',{'id': mem.id}) }}"
                             data-layout="standard" data-action="like" data-show-faces="false"
                             data-share="true"></div>
                        <small>{{ mem.date.date|date('d/m/Y') }}</small>
                    </div>
                </div>
                <div class="meme jumbotron">
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1792775277616619";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-comments" data-href="{{ absolute_url(url('meme.id', {'id': mem.id})) }}"
                         data-numposts="10"></div>
                </div>
            </div>
            <div class="col-md-4">
                {{ include('navbar.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}