{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top-stream p-t-5 p-b-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 p-b-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="http://player.twitch.tv/?channel=monstercat"></iframe>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="btn-clear-lg p-l-1">
                        WEEK<span style="color: #8bc34a;">TOP</span>STREAM
                    </div>
                    <div class="row p-y-2">
                        <div class="col-xs-2 p-r-0">
                            <img class="img-fluid pull-xl-left p-b-0" src="https://www.gravatar.com/avatar/23?s=48">
                        </div>
                        <div class="col-xs-8">
                            <h3 class="text-xs-left font-weight-bold m-b-0">OTLET</h3>
                            <p class="text-xs-left">www.twitch.tv/otlet</p>
                        </div>
                        <div class="col-xs-2 p-l-0">
                            <img class="img-fluid pull-xs-right p-b-0" src="{{ asset('assets/img/dota_50.png') }}">
                        </div>
                    </div>
                    <p class="text-justify">Marcin, znany bardziej jako "Gnimsh", to profesjonalny i międzynarodowy
                        komentator gry Hearthstone.
                        Zanim komentowanie stało się jego pracą, był kapitanem dywizji Hearthstone w drużynie Cloud 9.
                        Gnimsh to pasjonat gier karcianych, suchych żartów, anime oraz fantasy.</p>
                    <div class="row">
                        <div class="col-xs-6">
                            <p class="text-xs-left font-weight-bold">Viewers <span style="color: #8bc34a;">12345</span>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <div class="pull-right btn btn-green">
                                <a href="#">Zobacz profil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-1">
            <div class="col-md-3 p-b-1">
                <img class="img-fluid center-block"
                     src="https://static-cdn.jtvnw.net/previews-ttv/live_user_monstercat-320x180.jpg">
            </div>
            <div class="col-md-3 p-b-1">
                <img class="img-fluid center-block"
                     src="https://static-cdn.jtvnw.net/previews-ttv/live_user_monstercat-320x180.jpg">
            </div>
            <div class="col-md-3 p-b-1">
                <img class="img-fluid center-block"
                     src="https://static-cdn.jtvnw.net/previews-ttv/live_user_monstercat-320x180.jpg">
            </div>
            <div class="col-md-3 p-b-1">
                <img class="img-fluid center-block"
                     src="https://static-cdn.jtvnw.net/previews-ttv/live_user_monstercat-320x180.jpg">
            </div>
        </div>
        <div class="container-fluid">
            <img class="img-fluid center-block" src="{{ asset('assets/img/ad.png') }}">
        </div>
        <div class="row p-t-1">
            <div class="col-md-6">
                <div class="btn-white-lg p-l-1">
                    NAJNOWSZE<span style="color: #303030;">MEMY</span>
                </div>
                <img class="img-fluid center-block video p-b-0"
                     src="{{ asset('assets/mem/') ~ meme.url }}" alt="{{ meme.title }}">
                <div class="row p-y-0 m-x-0 grey">
                    <div class="col-xs-1 p-x-0">
                        <img class="img-fluid pull-xl-left p-b-0 grey" src="https://www.gravatar.com/avatar/23?s=48">
                    </div>
                    <div class="col-xs-10 p-l-0">
                        <p class="text-xs-left  m-b-0" style="padding-top: 0.3rem;">
                            <a class="font-weight-bold" href="{{ path('meme.id', {'id': meme.id}) }}" style="color: #000000;font-size: 0.9rem; text-decoration: none;">Zobacz komentarze!</a></p>
                    </div>
                    <div class="col-xs-1 p-x-0">
                        <img class="img-fluid pull-xs-right p-b-0 grey" src="{{ asset('assets/img/cs_50.png') }}">
                    </div>
                </div>
                <div class="btn-white p-l-1 p-y-06">{{ meme.title }}</div>
                <div class="btn-green text-xs-center m-b-1">
                    <a href="{{ path('meme') }}">Pokaż więcej</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-white-lg p-l-1">NAJNOWSZE<span style="color: #303030;">FILMY</span></div>
                <div class="row">
                    {% for vod in video %}
                        <div class="col-md-6 video">
                            <a href="{{ path('video.id', { 'id':vod.id }) }}">
                                <img class="img-responsive" src="http://img.youtube.com/vi/{{ vod.videoid }}/mqdefault.jpg">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="btn-green text-xs-center">
                    <a href="{{ path('video') }}">Pokaż więcej</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
