{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#jestemgraczem" aria-controls="home" role="tab" data-toggle="tab">Blog</a>
            </li>
            <li role="presentation">
                <a href="#23games" aria-controls="home" role="tab" data-toggle="tab">23Games
                    <span class="label label-danger">$</span></a>
            </li>
            <li role="presentation" class="dropdown">
                <a href="#" id="drop" class="dropdown-toggle"
                   data-toggle="dropdown" aria-controls="myTabDrop1-contents"
                   aria-expanded="false">Inne newsy <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                    <li class="">
                        <a href="#cybersport" role="tab" data-toggle="tab" aria-controls="dropdown1">
                            CyberSport.pl
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="tab-content container">
            <div role="tabpanel" class="tab-pane fade row active in" id="jestemgraczem"></div>
            <div role="tabpanel" class="tab-pane fade row" id="23games"></div>
            <div role="tabpanel" class="tab-pane fade row" id="cybersport"></div>
            <div role="tabpanel" class="tab-pane fade row" id="cybersport"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.rss.js') }}"></script>
    <script>
        jQuery(function ($) {
            $("#jestemgraczem").rss("http://blog.jestemgraczem.pl/rss", {
                limit: 12,
                effect: 'slideFastSynced',
                offsetStart: false,
                offsetEnd: false,
                ssl: false,
                layoutTemplate: '{entries}',
                entryTemplate: '' +
                '<div class="panel panel-default">' +
                '<div class="panel-heading">' +
                '<h3 class="panel-title">{title} <small>{date}</small></h3>' +
                '</div>' +
                '<div class="panel-body">' +
                '{shortBodyPlain}...' +
                '<a href="{{ path('redirect') }}?url={url}" target="_blank">Czytaj dalej...</a>' +
                '</div>' +
                '</div>',
                dateFormat: 'HH:mm D/MM/YYYY',
            });
            $("#23games").rss("http://23games.pl/feed", {
                limit: 12,
                offsetStart: false,
                offsetEnd: false,
                ssl: false,
                layoutTemplate: '{entries}',
                entryTemplate: '' +
                '<div class="panel panel-default">' +
                '<div class="panel-heading">' +
                '<h3 class="panel-title">{title} <small>{date}</small></h3>' +
                '</div>' +
                '<div class="panel-body">' +
                '{shortBodyPlain}...' +
                '<a href="{{ path('redirect') }}?url={url}" target="_blank">Czytaj dalej...</a>' +
                '</div>' +
                '</div>',
                dateFormat: 'HH:mm D/MM/YYYY',
            });
            $("#cybersport").rss("http://cybersport.pl/feed", {
                limit: 12,
                offsetStart: false,
                offsetEnd: false,
                ssl: false,
                layoutTemplate: '{entries}',
                entryTemplate: '' +
                '<div class="panel panel-default">' +
                '<div class="panel-heading">' +
                '<h3 class="panel-title">{title} <small>{date}</small></h3>' +
                '</div>' +
                '<div class="panel-body">' +
                '{shortBodyPlain}...' +
                '<a href="{{ path('redirect') }}?url={url}" target="_blank">Czytaj dalej...</a>' +
                '</div>' +
                '</div>',
                dateFormat: 'HH:mm D/MM/YYYY',
            });
        });
    </script>
{% endblock %}
