{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top-stream p-t-5 p-b-2" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 p-b-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="topstream" class="embed-responsive-item"
                                src="http://player.twitch.tv/?channel=monstercat"></iframe>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="btn-clear-lg p-l-1">
                        WEEK<span style="color: #8bc34a;">TOP</span>STREAM
                    </div>
                    <div class="row p-y-2">
                        <div class="col-xs-2 p-r-0">
                            <img id="avatar" class="img-fluid pull-xl-left p-b-0"
                                 src="https://www.gravatar.com/avatar/{{ avatar }}?s=48">
                        </div>
                        <div class="col-xs-8">
                            <h3 id="display_name" class="text-xs-left font-weight-bold m-b-0">Brak</h3>
                            <p id="link" class="text-xs-left">Niestety nikt nie streamuje :(</p>
                        </div>
                        <div class="col-xs-2 p-l-0">
                            <img id="game" class="img-fluid pull-xs-right p-b-0" src="">
                        </div>
                    </div>
                    <p id="description" class="text-justify">

                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="text-xs-left font-weight-bold">Widzów: <span id="viewers" style="color: #8bc34a;">n/d</span>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <div class="pull-right btn btn-green">
                                <a id="profile" href="#">Zobacz w odtwarzaczu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-1">
            <div class="container-fluid" id="streams-container">

            </div>
            <div class="text-xs-center" id="loading">
                <i class="fa fa-spinner fa-pulse fa-4x p-y-1" aria-hidden="true"></i>
            </div>
        </div>
        <div class="container-fluid p-t-1">
            <img class="img-fluid center-block" src="{{ asset('assets/img/ad.png') }}">
        </div>
        <div class="row p-t-1">
            <div class="col-md-6">
                <div class="btn-white-lg dots">
                    <span class="p-x-1 text">NAJNOWSZE<span style="color: #303030;">MEMY</span></span>
                </div>
                <img class="img-fluid center-block video p-b-0"
                     src="{{ asset('assets/mem/') ~ meme.url }}" alt="{{ meme.title }}">
                <div class="row p-y-0 m-x-0 grey">
                    <div class="col-xs-1 p-x-0">
                        <img class="img-fluid pull-xl-left p-b-0 grey" src="https://www.gravatar.com/avatar/23?s=48">
                    </div>
                    <div class="col-xs-10 p-l-0">
                        <p class="text-xs-left  m-b-0" style="padding-top: 0.3rem;">
                            <a class="font-weight-bold" href="{{ url('meme.id', {'id': meme.id}) }}" style="color: #000000;font-size: 0.9rem; text-decoration: none;">
                                Zobacz komentarze!
                            </a>
                        </p>
                    </div>
                    <div class="col-xs-1 p-x-0">
                        <img class="img-fluid pull-xs-right p-b-0 grey" src="{{ asset('assets/img/cs_50.png') }}">
                    </div>
                </div>
                <div class="btn-white p-l-1 p-y-06">{{ meme.title }}</div>
                <div class="btn-green text-xs-center m-b-1">
                    <a href="{{ url('meme') }}">Pokaż więcej</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-white-lg dots">
                    <span class="p-x-1 text">NAJNOWSZE<span style="color: #303030;">FILMY</span></span>
                </div>
                <div class="row">
                    {% for vod in video %}
                        <div class="col-md-6 video">
                            <a href="{{ url('video.id', { 'id':vod.id }) }}">
                                <img class="img-responsive"
                                     src="http://img.youtube.com/vi/{{ vod.videoid }}/mqdefault.jpg">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="btn-green text-xs-center">
                    <a href="{{ url('video') }}">Pokaż więcej</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var u_twitch = "";
        var limit = 5;
        getstream();

        function getstream() {
            $.ajax({
                url: '{{ url('api.stream') }}',
                dataType: 'json',
                success: function (stream) {
//                    console.log(stream);
                    for (var i = 0; i < stream.length; i++) {
                        u_twitch += stream[i]["twitch"] + ",";
                    }
                    get_twitch(u_twitch);
                },
                error: function () {
                    console.log("Coś poszło nie tak podczas łączenia z api jestemgraczem");
                }
            });
        }

        function render(channel) {
            var display = channel["channel"]["display_name"];
            var name = channel["channel"]["name"];
            $("#streams-container").append('<div class="col-sm-3" id="' + name + '"><div class=""><div class="v-title" id="' + name + '_title"></div><div class="v-img" id="' + name + '_img"></div><div class="v-bottom" id="' + name + '_bottom"></div></div></div>');
            $("#" + name).addClass('danger');
            $("#" + name + "_status").html('ONLINE').css('font-weight', 'bold');
            $("#" + name + "_game").html(channel["game"]);
            $("#" + name + "_viewers").html(channel["viewers"]);
            $("#" + name + "_img").html('<a href="{{ url('stream.id') }}/' + name + '"> <img class="img-responsive" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_' + name + '-320x180.jpg"> </a>');
        }

        function get_twitch(stream) {
            $.ajax({
                url: 'https://api.twitch.tv/kraken/streams/?channel=' + stream,
                dataType: 'jsonp',
                success: function (channel) {
                    $('#loading').remove();
                    topstream(channel["streams"][0]);
                    for (var i = 1; i < limit; i++) {
                        console.log(channel["streams"][i]["channel"]["display_name"] + " " + channel["streams"][i]["viewers"]);
                        render(channel["streams"][i]);
                    }
                }, error: function () {
                    console.log("Coś poszło nie tak podczas łączenia z api twitch");
                }
            });
        }
        function topstream(channel) {
            if (channel != null) {
//                console.log(channel);
                $.ajax({
                    url: '{{ url('api.stream.name') }}/'+channel["channel"]["name"],
                    dataType: 'json',
                    success: function (description) {
//                        console.log(description[0]['description']);
                        $('#description').html(description[0]['description']);
                    },
                    error: function () {
                        console.log("Coś poszło nie tak podczas łączenia z api jestemgraczem");
                    }
                });
                $('#topstream').attr('src', "http://player.twitch.tv/?channel=" + channel["channel"]["name"]);
                $('#viewers').html(channel["viewers"]);
                $('#link').html("www.twitch.tv/" + channel["channel"]["name"]);
                $('#display_name').html(channel["channel"]["display_name"]);
                $('#profile').attr('href', "{{ url('stream.id') }}/" + channel["channel"]["name"]);
                $('#avatar').attr('src', channel["channel"]["logo"]);
                $('#game').attr('src', "https://static-cdn.jtvnw.net/ttv-boxart/" + channel["game"] + "-50x50.jpg");
            }
        }

    </script>



{% endblock %}
