{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top-stream p-t-5 p-b-2" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 p-b-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="topstream" class="embed-responsive-item"
                                src="http://player.twitch.tv/?channel=monstercat&html5=true"></iframe>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="btn-clear-lg p-l-1">
                        WEEK<span style="color: #8bc34a;">TOP</span>STREAM
                    </div>
                    <div class="row p-y-2">
                        <div class="col-xs-2 p-r-0">
                            <img id="avatar" class="img-fluid pull-xl-left p-b-0"
                                 src="https://www.gravatar.com/avatar/{{ avatar }}?s=48" alt="Gravatar Avatar">
                        </div>
                        <div class="col-xs-8">
                            <h3 id="display_name" class="text-xs-left font-weight-bold m-b-0">Brak</h3>
                            <p id="link" class="text-xs-left">Niestety nikt nie streamuje :(</p>
                        </div>
                        <div class="col-xs-2 p-l-0">
                            <img id="game" class="img-fluid pull-xs-right p-b-0"
                                 src="https://www.gravatar.com/avatar/{{ avatar }}?s=48" alt="GameLogo">
                        </div>
                    </div>
                    <p id="description" class="text-justify">

                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="text-xs-left font-weight-bold">
                                Widzów: <span id="viewers" style="color: #8bc34a;">n/d</span>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <div class="pull-right btn btn-green">
                                <a id="profile" href="{{ url('stream') }}">{{ 'button.player'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-1">
            <div class="container-fluid" id="streams-container">

            </div>
            <div class="text-xs-center" id="loading">
                <i class="fa fa-spinner fa-pulse fa-4x p-y-1" aria-hidden="true"></i>
            </div>
        </div>

        <div class="container-fluid p-t-1">
            {% block adbanner %}{{ parent() }}{% endblock %}
            {#<img class="img-fluid center-block" src="{{ asset('assets/img/ad.png') }}">#}
        </div>

        <div class="row p-t-1">
            <div class="col-md-6">
                {% if meme %}
                    <div class="btn-white-lg dots">
                        <span class="p-x-1 text">{{ 'button.newest.new'|trans }}<span
                                    style="color: #303030;">{{ 'button.newest.meme'|trans }}</span></span>
                    </div>
                    <img class="img-fluid center-block video p-b-0"
                         src="{{ asset('assets/mem/') ~ meme.url }}" alt="{{ meme.title }}">
                    <div class="row p-y-0 m-x-0 grey">
                        <div class="col-xs-1 p-x-0">
                            <img class="img-fluid pull-xl-left p-b-0 grey"
                                 src="https://www.gravatar.com/avatar/{{ avatar }}?s=48" alt="Gravatar Avatar">
                        </div>
                        <div class="col-xs-10 p-l-0">
                            <p class="text-xs-left  m-b-0" style="padding-top: 0.3rem;">
                                <a class="font-weight-bold" href="{{ url('meme.id', {'id': meme.id}) }}"
                                   style="color: #000000;font-size: 0.9rem; text-decoration: none;">
                                    {{ 'button.comments'|trans }}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-1 p-x-0">
                            <img class="img-fluid pull-xs-right p-b-0 grey"
                                 src="https://www.gravatar.com/avatar/{{ avatar }}?s=48" alt="Gravatar Avatar">
                        </div>
                    </div>
                    <div class="btn-white p-l-1 p-y-06">{{ meme.title }}</div>
                    <div class="btn-green text-xs-center m-b-1">
                        <a href="{{ url('meme') }}">{{ 'button.more'|trans }}</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="btn-white-lg dots">
                    <span class="p-x-1 text">{{ 'button.newest.new'|trans }}<span
                                style="color: #303030;">{{ 'button.newest.video'|trans }}</span></span>
                </div>
                <div class="row">
                    {% for vod in video %}
                        <div class="col-md-6 video">
                            <a href="{{ url('video.id', { 'id':vod.id }) }}">
                                <img class="img-responsive"
                                     src="http://img.youtube.com/vi/{{ vod.videoid }}/mqdefault.jpg"
                                     alt="{{ vod.title }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="btn-green text-xs-center">
                    <a href="{{ url('video') }}">{{ 'button.more'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/home-stream.js') }}"></script>
    <script>
        getStream('{{ url("api.stream") }}');
    </script>
{% endblock %}
