{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}

    <div class="container-fluid hidden-lg-down p-x-0">
        <div class="user-bdrop">
            {% if user.profilePicturePath is not empty %}
                <img class=" img-bd " src="{{ asset('assets/user/profilepics/' ~ user.profilePicturePath) }}">
            {% else %}
                <img class=" img-bd center-block" src="{{ asset('assets/img/bg-lol.jpg') }}">
            {% endif %}
        </div>
    </div>


    <div class="container p-t-1 p-b-2">
        {% block adbanner %}{{ parent() }}{% endblock %}
        <div class="row">
            <div class="col-md-4">
                <img src="https://www.gravatar.com/avatar/{{ user.email|md5 }}?s=2048" class="img-responsive">
                <div class="btn-white p-y-06 text-ta text-xs-center m-b-0">
                    {{ user.username }}
                </div>

                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text"><i class="fa fa-video-camera"
                                                aria-hidden="true"></i> {{ 'button.my.me'|trans }}<span
                                style="color: #303030;">STREAM</span></span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <a href="https://twitch.tv/{{ user.twitch }}">{{ user.twitch }}</a>
                </div>

                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text">{{ 'button.my.my'|trans }}<span
                                style="color: #303030;">{{ 'button.my.account'|trans }}</span></span>
                </div>
                <div class="container-fluid grey-box p-y-1 p-l-1 m-b-1">
                    {% if user.steam %}
                        <div class="row m-b-1">
                            <div class="col-md-2 p-r-0">
                                <a href="{{ url('redirect',{'url':user.steam}) }}">
                                    <img class="img-fluid"
                                         src="http://store.akamai.steamstatic.com/public/shared/images/responsive/share_steam_logo.png">
                                </a>
                            </div>
                            <div class="col-md-10 p-l-0">
                                <h3 class="">{{ user.steam|replace({'http://steamcommunity.com/id/':''}) }}</h3>
                            </div>
                        </div>
                    {% endif %}
                    {% if user.battlenet %}
                        <div class="row m-b-1">
                            <div class="col-md-2 p-r-0">
                                <img class="img-fluid"
                                     src="http://diablo3fans.pl/wp-content/uploads/2015/12/battlenet.png">
                            </div>
                            <div class="col-md-10 p-l-0">
                                <h3 class="">{{ user.battlenet }}</h3>
                            </div>
                        </div>
                    {% endif %}
                    {% if user.lol %}
                        <div class="row">
                            <div class="col-md-2 p-r-0">
                                <img class="img-fluid"
                                     src="https://pbs.twimg.com/profile_images/2261044581/lollogo_400x400.png">
                            </div>
                            <div class="col-md-10 p-l-0">
                                <h3 class="">{{ user.lol }}</h3>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="btn-white-lp dots m-b-0">
                    <span class="p-x-1 text">
                        <i class="fa fa-user" aria-hidden="true"></i> {{ 'button.my.short'|trans }}
                        <span style="color: #303030;">{{ 'button.my.desc'|trans }}</span>
                    </span>
                </div>

                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p>{{ user.description }}</p>
                </div>
            </div>
            <div class="col-md-8">
                {% if user.twitch %}
                    <div id="twitch" class="panel panel-default">
                        <div class="panel-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="https://player.twitch.tv/?channel={{ user.twitch }}">
                                </iframe>
                            </div>
                        </div>
                        <div id="streaminfo" class="panel-footer">
                            Gra: <span id="game" class="label label-danger">Ładowanie
                                    <i class="fa fa-spinner fa-spin"></i>
                                 </span>
                            Widzów: <span id="viewers" class="label label-danger">Ładowanie
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span>
                        </div>
                    </div>
                {% endif %}
                <div class="btn-white-lp dots">
                    <span class="p-x-1 text">
                        <i class="fa fa-gamepad" aria-hidden="true"></i> {{ 'button.actual'|trans }}
                        <span style="color: #303030;">{{ 'button.turnaments'|trans }}</span>
                    </span>
                </div>
                {% if video %}
                    <div class="btn-white-lg dots">
                    <span class="p-x-1 text"><i class="fa fa-video-camera"
                                                aria-hidden="true"></i> {{ 'button.my.my'|trans }}
                        <span style="color: #303030;">{{ 'button.newest.video'|trans }}</span>
                    </span>
                    </div>
                    <div class="row">
                        {% for vod in video %}
                            <div class="col-md-6 video">
                                <a href="{{ url('video.id', { 'id':vod.id }) }}">
                                    <img class="img-responsive"
                                         src="http://img.youtube.com/vi/{{ vod.videoid }}/mqdefault.jpg">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="btn-green text-xs-center m-b-1">
                        <a href="{{ url('video') }}">{{ 'button.more'|trans }}</a>
                    </div>
                {% endif %}
                {% if meme %}
                    <div class="btn-white-lg dots">
                        <span class="p-x-1 text">{{ 'button.my.my'|trans }}
                            <span style="color: #303030;">{{ 'button.newest.meme'|trans }}</span>
                        </span>
                    </div>
                    <img class="img-fluid center-block video p-b-0"
                         src="{{ asset('assets/mem/') ~ meme.url }}" alt="{{ meme.title }}">
                    <div class="row p-y-0 m-x-0 grey">
                        <div class="col-xs-1 p-x-0">
                            <img class="img-fluid pull-xl-left p-b-0 grey"
                                 src="https://www.gravatar.com/avatar/23?s=48">
                        </div>
                        <div class="col-xs-10 p-l-0">
                            <p class="text-xs-left  m-b-0" style="padding-top: 0.3rem;">
                                <a class="font-weight-bold" href="{{ url('mem.id', {'id': meme.id}) }}"
                                   style="color: #000000;font-size: 0.9rem; text-decoration: none;">
                                    {{ 'button.comments'|trans }}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-1 p-x-0">
                            <img class="img-fluid pull-xs-right p-b-0 grey" src="{{ asset('assets/img/cs_50.png') }}">
                        </div>
                    </div>
                    <div class="btn-white p-l-1 p-y-06">{{ meme.title }}</div>
                    <div class="btn-green text-xs-center m-b-1">
                        <a href="{{ url('mem') }}">{{ 'button.more'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function metadata() {
            $.ajax({
                url: 'https://api.twitch.tv/kraken/streams/{{ user.twitch }}',
                dataType: 'jsonp',
                success: function (channel) {
                    if (channel["stream"] != null) {
                        $("#viewers").html(channel["stream"]["viewers"]);
                        $("#game").html(channel["stream"]["game"]);
                    } else {
                        $("#twitch").remove();

                    }
                }
            });
        }
        metadata();
        setInterval("metadata();", 10000);
    </script>
{% endblock %}