{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
        <img src="https://www.gravatar.com/avatar/{{ avatar }}?s=160" class="img-responsive">
        </div>
        <div class="col-xs-9">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-4">
                        <h2>{{ user.username }}</h2>
                    </div>
                    <div class="col-xs-8">

                            <div class="row">
                                <div class="col-xs-4 battlenet">
                                    <img src="{{asset('assets/img/battlenet.png')}}" class="img-responsive">
                                    <h4>{{ user.battlenet }}</h4>
                                </div>
                                <div class="col-xs-4 lol">
                                    <img src="{{asset('assets/img/lol.jpg')}}" class="img-responsive">
                                    <h4>{{ user.lol }}</h4>
                                </div>
                                <div class="col-xs-4 v-steam">
                                    <a href="http://steamcommunity.com/profiles/{{ user.steam }}" target="_blank">
                                        <img src="{{asset('assets/img/steam.png')}}" class="img-responsive">
                                    </a>
                                    <h2></h2>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="jumbotron">
        <div class="row">

            <div class="col-md-3 yt">
                <script src="https://apis.google.com/js/platform.js"></script>

                <script>
                    function onYtEvent(payload) {
                        if (payload.eventType == 'subscribe') {
                            // Add code to handle subscribe event.
                        } else if (payload.eventType == 'unsubscribe') {
                            // Add code to handle unsubscribe event.
                        }
                        if (window.console) { // for debugging only
                            window.console.log('YT event: ', payload);
                        }
                    }
                </script>
            </div>
            <div class="g-ytsubscribe" data-channel="{{ user.youtube }}" data-layout="full" data-count="default" data-onytevent="onYtEvent"></div>
        </div>
    </div>


    {% if user.twitch %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.twitch.tv/?channel={{ user.twitch }}"></iframe>
                </div>
            </div>
            <div id="streaminfo" class="panel-footer">
                Gra: <span id="game" class="label label-danger">Ładowanie <i class="fa fa-spinner fa-spin"></i></span>
                Widzów: <span id="viewers" class="label label-danger">Ładowanie <i class="fa fa-spinner fa-spin"></i></span>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function metadata(){
            $.ajax({
                url:'https://api.twitch.tv/kraken/streams/{{ user.twitch }}',
                dataType:'jsonp',
                success:function(channel) {
                    if (channel["stream"] != null) {
                        $("#viewers").html(channel["stream"]["viewers"]);
                        $("#game").html(channel["stream"]["game"]);
                    } else {
                        $("#streaminfo").html('Użytkownik jest offline!');
                    }
                }
            });
        }
        metadata();
        setInterval("metadata();",10000);
    </script>
{% endblock %}