<nav class="navbar navbar-dark bg-primary hidden-lg-down">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Navbar</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Pricing</a>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item">Another action</a>
                        <a class="dropdown-item">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline waves-effect waves-light">
                <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </div>
</nav>
<nav class="navbar navbar-dark elegant-color">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
        <i class="fa fa-bars"></i></button>
    <div class="container-fluid">
        <div class="collapse navbar-toggleable-xs" id="collapseEx">
            <ul class="nav navbar-nav nav-flex-icons">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item btn-group">
                        <a class="nav-link dropdown-toggle" id="dropdownUser" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {#<i class="fa fa-user"></i>#}
                            <img src="https://www.gravatar.com/avatar/{{ app.user.email|md5 }}"
                                 style="max-height: 30px"
                                 alt="JestemGraczem Gravatar">
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownUser">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ url('easyadmin') }}" target="_blank">
                                    <i class="fa fa-terminal" aria-hidden="true"></i> AdminCP
                                </a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ url('user',{'user': app.user.username}) }}">
                                <i class="fa fa-user"
                                   aria-hidden="true"></i> {{ 'profile.publicprofil'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a class="dropdown-item" href="{{ url('fos_user_change_password') }}">
                                <i class="fa fa-key"
                                   aria-hidden="true"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a class="dropdown-item" href="{{ url('fos_user_profile_edit') }}">
                                <i class="fa fa-pencil"
                                   aria-hidden="true"></i> {{ 'profile.edit.edit'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a class="dropdown-item" href="{{ url('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out"
                                   aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item btn-group">
                        <a class="nav-link dropdown-toggle" id="dropdownUser" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownUser">
                            <a class="dropdown-item" href="{{ url('fos_user_security_login') }}">
                                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a class="dropdown-item" href="{{ url('fos_user_registration_register') }}">
                                {{ 'account.register'|trans }} {{ 'account.now'|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ url('fos_user_resetting_request') }}">
                                {{ 'account.forgotpass'|trans }}
                            </a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="https://youtube.com/PanOtlet" target="_blank"
                       class="nav-link waves-effect waves-light">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/PanOtlet" target="_blank"
                       class="nav-link waves-effect waves-light">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://facebook.com/JestemGraczemPL" target="_blank"
                       class="nav-link waves-effect waves-light">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('status') }}">
                        <span data-toggle="tooltip" title="{{ 'nav.status'|trans }}" data-placement="bottom">
                            <i class="fa fa-power-off" aria-hidden="true"></i>
                            <span class="hide-md">{{ 'nav.status'|trans }}</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>