{% extends "material/base.html.twig" %}

{% block body %}
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">
            Status serwerów League of Legends
        </h2>
    </div>
    <div class="container">
        {% block adbanner %}{{ parent() }}{% endblock %}
        <div class="row">
            <div class="col-md-6">
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="{{ asset('assets/img/lol_logo_bw.png') }}" alt="LOL EUNE">
                    <div class="card-block">
                        <h1 class="card-title">EU Nordic & East</h1>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for server in eune.services %}
                            {% if server.status == 'online' %}
                                <li class="list-group-item"
                                    style="background-color: #179a17; border-color: #333; color: #FFFFFF;"><h3
                                            class="m-b-0"><i class="fa fa-check"
                                                             aria-hidden="true"></i> {{ server.name }}</h3></li>
                            {% else %}
                                <li class="list-group-item"
                                    style="background-color: #ce2924; border-color: #333; color: #FFFFFF;"><h4><i
                                                class="fa fa-times" aria-hidden="true"></i> {{ server.name }}</h4></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="{{ asset('assets/img/lol_logo_bw.png') }}" alt="LOL EUNE">
                    <div class="card-block">
                        <h1 class="card-title">EU West</h1>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for server in euw.services %}
                            {% if server.status == 'online' %}
                                <li class="list-group-item"
                                    style="background-color: #179a17; border-color: #333; color: #FFFFFF;"><h3
                                            class="m-b-0"><i class="fa fa-check"
                                                             aria-hidden="true"></i> {{ server.name }}</h3></li>
                            {% else %}
                                <li class="list-group-item"
                                    style="background-color: #ce2924; border-color: #333; color: #FFFFFF;"><h4><i
                                                class="fa fa-times" aria-hidden="true"></i> {{ server.name }}</h4></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
