{% block navigation %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">JestemGraczem.pl</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Strefa Gamingowa</li>
                        <li>
                            <a href="{{ path('news') }}">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i> Newsy
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Strefa Fun</li>
                        <li>
                            <a href="{{ path('meme') }}">
                                <i class="fa fa-picture-o" aria-hidden="true"></i> Memy
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('stream') }}">
                                <i class="fa fa-twitch" aria-hidden="true"></i> Stream
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('video') }}">
                                <i class="fa fa-youtube" aria-hidden="true"></i> Filmy
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Strefa Turniejowa</li>
                        <li>
                            <a href="#">
                                <i class="fa fa-trophy" aria-hidden="true"></i> Turnieje
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('team') }}">
                                <i class="fa fa-users" aria-hidden="true"></i> Drużyny
                            </a>
                        </li>
                    </ul>
                </li>
                {% block menu %}{% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#snap" target="_blank">
                        <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/jestemgraczempl/" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/PanOtlet" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitch.tv/otlet" target="_blank">
                        <i class="fa fa-twitch" aria-hidden="true"></i>
                    </a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('user',{'user': app.user.username}) }}">
                                    <i class="fa fa-user"
                                       aria-hidden="true"></i> {{ 'profile.publicprofil'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <i class="fa fa-user-secret"
                                       aria-hidden="true"></i> {{ 'profile.profil'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">
                                    <i class="fa fa-key"
                                       aria-hidden="true"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">
                                    <i class="fa fa-pencil"
                                       aria-hidden="true"></i> {{ 'profile.edit.edit'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out"
                                       aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-sign-in"
                               aria-hidden="true"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            <i class="fa fa-user-plus"
                               aria-hidden="true"></i> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="snap">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Snapchat</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive" src="{{ asset('assets/img/snap.jpg') }}" alt="Snapchat Pan Otlet">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}