{% extends "material/base.html.twig" %}

{% block body %}
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">
            Mikroblogi <a href="{{ url('mikroblog.add') }}" class="btn btn-primary">Dodaj nowy</a>
        </h2>
    </div>
    <div class="container">
        {% block adbanner %}{{ parent() }}{% endblock %}
        <div class="row">
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="list-group">
                        {% for blog in pagination %}
                            <a href="{{ url('mikroblog.id', {'id': blog.id}) }}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ blog.title }}</h4>
                                <p class="list-group-item-text">
                                    {{ blog.text|slice(0,100)|striptags }}
                                </p>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a href="{{ url('article.all') }}" class="btn btn-primary btn-block"><span
                            class="p-x-3">{{ 'button.waitingroom'|trans }}</span></a>
                {% block sidebar %}
                    {{ parent() }}
                {% endblock %}
                {% block adsidebar %}{{ parent() }}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}