{% extends 'video.html.twig' %}

{% block title %}Lista Streamów{% endblock %}
{% block titlemeta %}Lista Streamów{% endblock %}

{% block menu %}
    <li>
        <a href="{{ path('stream') }}">
            <i class="fa fa-twitch" aria-hidden="true"></i> Lista Streamów
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
    <main class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="row">
                    <div class="container-fluid" id="streams-container">

                    </div>
                    <div class="loading" id="loading">
                        <i class="fa fa-spinner fa-pulse fa-6x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="jumbotron col-xs-3" style="margin-left: 20px">
                {% block sidebar %}
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1191702130875167";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/JestemGraczemPL/" data-tabs="timeline"
                         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/JestemGraczemPL/"><a
                                        href="https://www.facebook.com/JestemGraczemPL/">JestemGraczem.pl</a>
                            </blockquote>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var u_twitch = "";
        getstream();

        function getstream() {
            $.ajax({
                url: '{{ path('api.stream') }}',
                dataType: 'json',
                success: function (stream) {
                    //console.log(stream);
                    for (var i = 0; i < stream.length; i++) {
                        u_twitch += stream[i]["twitch"] + ",";
                    }
                    //console.log(u_twitch+" getstream()");
                    get_twitch(u_twitch);
                },
                error: function () {
                    console.log("Coś poszło nie tak podczas łączenia z api jestemgraczem");

                }
            });
        }

        function render(channel) {
            var display = channel["channel"]["display_name"];
            var name = channel["channel"]["name"];
            $("#streams-container").append('<div class="col-md-6" id="' + name + '"><div class="meme jumbotron"><div class="v-title" id="' + name + '_title"></div><div class="v-img" id="' + name + '_img"></div><div class="v-bottom" id="' + name + '_bottom"></div></div></div>');
            $("#" + name).addClass('danger');
            $("#" + name + "_status").html('ONLINE').css('font-weight', 'bold');
            $("#" + name + "_game").html(channel["game"]);
            $("#" + name + "_viewers").html(channel["viewers"]);
            $("#" + name + "_title").html('<a href="{{ path('stream.id') }}/' + name + '"><p>' + display + '<span style="float: right;color: gray;font-size: medium;">' + channel["viewers"] + '</span></p></a>');
            $("#" + name + "_img").html('<a href="{{ path('stream.id') }}/' + name + '"> <img class="img-responsive" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_' + name + '-320x180.jpg"> </a>');
        }

        function get_twitch(stream) {
            $.ajax({
                url: 'https://api.twitch.tv/kraken/streams/?channel=' + stream,
                dataType: 'jsonp',
                success: function (channel) {
                    document.getElementById("loading").remove();
                    for (var i = 0; i < channel["streams"].length; i++) {
                        //console.log(channel["streams"][i]["channel"]["display_name"]+" "+channel["streams"][i]["viewers"]);
                        render(channel["streams"][i]);
                    }
                }, error: function () {
                    console.log("Coś poszło nie tak podczas łączenia z api twitch");
                }
            });
        }
    </script>

{% endblock %}
