{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-4">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" class="form-control" value="{{ last_username }}" id="username" name="_username" required="required">
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input id="password" name="_password" required="required" type="password" class="form-control">
                </div>

                <div class="togglebutton">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" >{{ 'security.login.remember_me'|trans }}
                    </label>
                </div>

                <br>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
                       class="btn btn-raised btn-success btn-block btn-lg"/>
            </form>
            <br>
            <a class="btn btn-primary btn-block m-t-1" href="{{ url('fos_user_registration_register') }}" role="button">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        </div>
        <div class="col-md-8">
            <h1>Dołącz do nas, a otrzymasz:</h1>
            <ul>
                <li>pełen dostęp do serwisu</li>
                <li>otrzymasz specjalny profil na naszym portalu</li>
                <li>możesz udostępniać memy</li>
                <li>reklamować swoje filmy na YouTube</li>
                <li>reklamować swój kanał Twitch</li>
                <li>sprawdzanie statusów online serwerów gier</li>
                <li>możliwość dodawania własnych kanałów informacyjnych</li>
                <li>i będzie jeszcze wiele innych ciekawych rzeczy, ale je odkryjesz dopiero po rejestracji…</li>
            </ul>

            <p>
                Czekasz na zaproszenie?! Zapraszam Cię już teraz!
            </p>

            <p style="font-style: italic">Kochana Administracja <3</p>

        </div>
    </div>
{% endblock fos_user_content %}