{% extends "material/base.html.twig" %}

{% block bodyMenu %}
    <div class="container-fluid top-stream p-t-5 p-b-2" xmlns="https://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 p-b-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="topstream" class="embed-responsive-item"
                                {#src="{{ url('api.mario')}}"></iframe>#}
                                src="https://beam.pro/embed/player/otlet"></iframe>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="btn-clear-lg p-l-1">
                        WEEK<span style="color: #8bc34a;">TOP</span>STREAM
                    </div>
                    <div class="row p-y-2">
                        <div class="col-xs-2 p-r-0">
                            <img id="avatar" class="img-fluid pull-xl-left p-b-0"
                                 src="https://www.gravatar.com/avatar/{{ avatar }}?s=48" alt="Gravatar Avatar">
                        </div>
                        <div class="col-xs-8">
                            <h3 id="display_name" class="text-xs-left font-weight-bold m-b-0">Brak</h3>
                            <p id="link" class="text-xs-left">Niestety nikt nie streamuje :(</p>
                        </div>
                        <div class="col-xs-2 p-l-0">
                            <img id="game" class="img-fluid pull-xs-right p-b-0"
                                 src="https://www.gravatar.com/avatar/{{ avatar }}?s=48" alt="GameLogo">
                        </div>
                    </div>
                    <p id="description" class="text-justify">

                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="text-xs-left font-weight-bold">
                                Widzów: <span id="viewers" style="color: #8bc34a;">n/d</span>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <div class="pull-right btn btn-green">
                                <a id="profile" href="{{ url('stream') }}">{{ 'button.player'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row p-t-1">
            <div class="container-fluid" id="streams-container">

            </div>
            <div class="text-xs-center" id="loading">
                <i class="fa fa-spinner fa-pulse fa-4x p-y-1" aria-hidden="true"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/stream.js') }}"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script>
        var stream = new Stream('{{ url("api.stream") }}', 'dd80eugsisvxdq2h689e6m8e3tqqzuw');
        stream.start();
    </script>
{% endblock %}