{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-6 btn-clear-lg p-l-1 ">
                <span style="color: #8bc34a;">Turnieje</span>
            </div>
        </div>
    </div>
    <div class="container p-t-1">

        <div class="btn-white-lg dots m-b-1">
                    <span class="p-x-1 text">Wybierz <span
                                style="color: #303030;">grę</span></span>
        </div>
        <div class="row m-b-2">
            <div class="col-md-4">
                <a href="{{ url('tournament.open') }}?sort=1">
                    <img class="img-fluid" data-toggle="tooltip"  title="{{ 'tournament.csgo'|trans }}" src="{{ asset('assets/img/bg/csgo.jpg') }}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url('tournament.open') }}?sort=2">
                    <img class="img-fluid" data-toggle="tooltip"  title="{{ 'tournament.lol'|trans }}" src="{{ asset('assets/img/bg/lol.jpg') }}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url('tournament.open') }}?sort=3">
                    <img class="img-fluid" data-toggle="tooltip"  title="{{ 'tournament.hots'|trans }}" src="{{ asset('assets/img/bg/hots.jpg') }}">
                </a>
            </div>
        </div>
        <div class="row m-b-2">
            <div class="col-md-4">
                <a href="{{ url('tournament.open') }}?sort=4">
                    <img class="img-fluid" data-toggle="tooltip"  title="{{ 'tournament.sc2'|trans }}" src="{{ asset('assets/img/bg/sc2.jpg') }}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url('tournament.open') }}?sort=5">
                    <img class="img-fluid" data-toggle="tooltip"  title="{{ 'tournament.hs'|trans }}" src="{{ asset('assets/img/bg/hs.jpg') }}">
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url('tournament.open') }}?sort=6">
                    <img class="img-fluid" data-toggle="tooltip"  title="{{ 'tournament.dota2'|trans }}" src="{{ asset('assets/img/bg/dota2.jpg') }}">
                </a>
            </div>
        </div>
        <div class="row m-b-2">
            <div class="col-md-4">
                <a href="{{ url('tournament.open') }}?sort=0">
                    <img class="img-fluid" data-toggle="tooltip"  title="{{ 'tournament.other'|trans }}" src="{{ asset('assets/img/bg/defoult.jpg') }}">
                </a>
            </div>
        </div>

        {#<div class="jumbotron t-title">#}
            {#<h1>Wkrótce!</h1>#}
            {#<p>Obecnie trwają prace, by przygotować system turniejowy! Liczymy, że cierpliwość się Wam opłaci :)</p>#}
            {##}
            {#{% for turniej in promo %}#}
                {#{{ turniej.name }} |#}
            {#{% endfor %}#}
            {#{% for turniej in my %}#}
                {#{{ turniej.id }} - {{ turniej.name }} - {{ turniej.status }}<br>#}
            {#{% endfor %}#}
        {#</div>#}


    </div>

{% endblock %}