{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-6 btn-clear-lg p-l-1 ">
                <span style="color: #8bc34a;">{{ turniej.name }}</span>
            </div>
            {% if turniej.type == 0 %}
                <div class="col-sm-6">
                    <a href="{{ url('tournament.join', {'id':turniej.id}) }}" type="button"
                       class="btn btn-green pull-sm-right"><span class="p-x-3">{{ 'tournament.join'|trans }}</span></a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container p-t-1">
        <div class="col-md-4">
            {% if turniej.dyscyplina == 1 %}
                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text"> {{ 'tournament.game'|trans }}</span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p class="game"><span style="color: #303030;">{{ 'tournament.csgo'|trans }}</span></p>
                </div>
                {% elseif turniej.dyscyplina == 2 %}
                    <div class="btn-white-lg dots m-b-0">
                        <span class="p-x-1 text"> {{ 'tournament.game'|trans }}</span>
                    </div>
                    <div class="grey-box p-y-1 p-l-1 m-b-1">
                        <p class="game"><span style="color: #303030;">{{ 'tournament.lol'|trans }}</span></p>
                    </div>
                {% elseif turniej.dyscyplina == 3 %}
                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text"> {{ 'tournament.game'|trans }}</span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p class="game"><span style="color: #303030;">{{ 'tournament.tournament.hots'|trans }}</span></p>
                </div>
                {% elseif turniej.dyscyplina == 4 %}
                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text"> {{ 'tournament.game'|trans }}</span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p class="game"><span style="color: #303030;">{{ 'tournament.sc2'|trans }}</span></p>
                </div>
                {% elseif turniej.dyscyplina == 5 %}
                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text"> {{ 'tournament.game'|trans }}</span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p class="game"><span style="color: #303030;">{{ 'tournament.hs'|trans }}</span></p>
                </div>
                {% elseif turniej.dyscyplina == 6 %}
                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text"> {{ 'tournament.game'|trans }}</span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p class="game"><span style="color: #303030;">{{ 'tournament.dota2'|trans }}</span></p>
                </div>
                {% elseif turniej.dyscyplina == 7 %}
                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text"> {{ 'tournament.game'|trans }}</span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p class="game"><span style="color: #303030;">{{ 'tournament.wot'|trans }}</span></p>
                </div>
                {% else %}
                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text"> {{ 'tournament.game'|trans }}</span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p class="game"><span style="color: #303030;">{{ 'tournament.other'|trans }}</span></p>
                </div>
                {% endif %}

                <div class="btn-white-lg dots m-b-0">
                    <span class="p-x-1 text"> {{ 'tournament.players'|trans }}</span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    {% for player in entry %}
                        <p class="game">{{ player.username }} ({{ player.status }})</p>
                    {% endfor %}
                </div>


            {% if turniej.cost !=0 %}
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p>{{ 'tournament.cost'|trans }}: {{ turniej.cost }}</p>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="btn-white-lp dots m-b-1">
                <span class="p-x-1 text">{{ 'tournament.countTeam'|trans }}: <span
                            style="color: #303030;">{{ turniej.countTeam }}</span></span>
            </div>
            <div class="btn-white-lg dots m-b-1">
                {% if turniej.playerType == 0 %}
                <span class="p-x-1 text">{{ 'tournament.playerType'|trans }}: <span
                            style="color: #303030;">{{ 'tournament.team'|trans }}</span></span>
                {% elseif turniej.playerType == 1 %}
                    <span class="p-x-1 text">{{ 'tournament.playerType'|trans }}: <span
                                style="color: #303030;">{{ 'tournament.individual'|trans }}</span></span>
                {% endif %}
            </div>
            <div class="btn-white-lp dots m-b-1">
                {% if turniej.type %}
                    <span class="p-x-1 text">{{ 'tournament.playerType'|trans }}: <span
                                style="color: #303030;">{{ 'tournament.invite'|trans }}</span></span>
                {% else%}
                    <span class="p-x-1 text">{{ 'tournament.playerType'|trans }}: <span
                                style="color: #303030;">{{ 'tournament.open'|trans }}</span></span>
                {% endif %}
            </div>

            <div class="btn-white-lg dots m-b-0">
                <span class="p-x-1 text">{{ 'tournament.description'|trans }}: <span
                            style="color: #303030;"></span></span>
            </div>
            <div class="grey-box p-y-1 p-l-1 m-b-1">
                <p>{{ turniej.description }}</p>
            </div>

        </div>


    </div>
{% endblock %}
