{% extends "material/base.html.twig" %}

{% block bodyMenu %}
    {% block adbanner %}{{ parent() }}{% endblock %}
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">
            Centrum Gracza
        </h2>
    </div>
    <div class="container" style="margin-top: 10px">
        {% if servers %}
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa serwera</th>
                        <th>Gra</th>
                        <th>IP</th>
                        <th>Opis</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for server in servers %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ server.name }}</td>
                            <td>{{ server.game }}</td>
                            <td>{{ server.ip }}</td>
                            <td>{{ server.descriptions }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="row">
            {% for game in games %}
                <div class="col-md-4 p-b-3">
                    <a href="{{ url(game.url) }}">
                        <img src="{{ asset('assets/img/') ~ game.img }}.png" class="img-fluid" alt="{{ game.title }}">
                        <h4 class="text-md-center" style="color: #000000;"></h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}