{% extends "material/base.html.twig" %}

{% block bodyMenu %}
    {% block adbanner %}{{ parent() }}{% endblock %}
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">
            League of Legends
        </h2>
    </div>
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    {% for feed in feeds %}
                        <div class="col-md-4" id="feed{{ loop.index0 }}">
                            {{ feed.name }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                {% block sidebar %}
                    <div id="rot" class="row" style="margin-bottom: 10px">
                        <h4>Aktualna rotacja:</h4>
                        <div class="text-xs-center" id="loading">
                            <i class="fa fa-spinner fa-pulse fa-4x p-y-1" aria-hidden="true"></i>
                        </div>
                    </div>
                    {{ parent() }}
                {% endblock %}
                {% block adsidebar %}{{ parent() }}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="{{ asset('assets/js/jquery.rss.js') }}"></script>
    <script>
        $(document).ready(function(){
            api();
            function api() {
                $.ajax({
                    url: '{{ url('api.lol.free') }}',
                    dataType: 'json',
                    success: function (data) {
                        $('#loading').remove();
                        for (var i=0;i<data.length;i++){
                            $("#rot").append('<div class="col-md-6"><div class="card">'+
                                    '<img class="card-img-top img-responsive" src="{{ asset("assets/img/lol") }}/'+data[i]+'.png" alt="'+data[i]+'">'+
                                    '<div class="card-block"><h4 class="card-title text-md-center m-b-0">'+data[i]+'</h4></div></div></div>');
                        }
                    }, error: function () {
                        console.log("Coś poszło nie tak podczas łączenia z api steam");
                    }
                });
            }

            var data;
            data = {{ json|raw }};
            jQuery(function ($) {
                for (var i = 0; i < data.length; i++) {
                    $("#feed" + i).rss(data[i]['url'], {
                        limit: 10,
                        effect: 'slideFastSynced',
                        offsetStart: false,
                        offsetEnd: false,
                        ssl: false,
                        layoutTemplate: '{entries}',
                        entryTemplate: '<a href="{{ path('redirect') }}?url={url}" target="_blank"><h4>{title} <small>{date}</small></h4></a><p>{shortBodyPlain}...</p><hr>',
                        dateFormat: 'HH:mm D/MM/YYYY'
                    });
                }
            })
        });
    </script>
{% endblock %}