{% extends "all.html.twig" %}

{% block title %}TurniejBundle:Team:team{% endblock %}

{% block menu %}
    <li>
        <a href="{{ path('teams') }}">
            <i class="fa fa-users" aria-hidden="true"></i> Drużyny
        </a>
    </li>
    <li>
        <a href="{{ path('team.add') }}">
            <i class="fa fa-users" aria-hidden="true"></i> Stwórz
        </a>
    </li>
    <li>
        <a href="{{ path('team.join') }}">
            <i class="fa fa-users" aria-hidden="true"></i> Dołącz
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://www.gravatar.com/avatar/{{ team.name }}?s=160" class="img-responsive">
                </div>
                <div class="col-md-8">
                    <h2>Nazwa dywizi {{ team.name }}</h2>
                </div>
                <div class="col-md-8">
                    <h2>Krótki opis: {{ team.description }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            {% if team.team %}
                {% for member in team.members %}
                    <div class="col-md-4">
                        <div class="jumbotron teams">
                            <a href="{{ path('user', {'user':member.user}) }}">{{ member.user }} ({{ member.role }})</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1>Brak Członków :( Smutek.jpg</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
