{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid user-bdrop hidden-lg-down">
        {#{% if team.profilePicturePath is not empty %}#}
            {#<img class="img-fluid img-bd center-block" src="{{ asset(team.webProfilePicturePath) }}">#}
        {#{% else %}#}
            <img class="img-fluid img-bd center-block" src="{{ asset('assets/img/bg-lol.jpg')}}">
        {#{% endif %}#}
    </div>
    <div class="container p-t-1 p-b-2">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset(team.logo) }}" class="img-responsive">
                <div class="btn-white p-y-06 text-ta text-xs-center m-b-0">
                    {{ team.name }}
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    lorep ipsum
                </div>
            </div>
            <div class="col-md-8">
                {% if divisions %}
                    {% for division in divisions %}
                        <div class="container-fluid">
                            <div class="btn-white-lp dots m-b-0">
                                <span class="p-x-1 text">
                                    <i class="fa fa-users" aria-hidden="true"></i>{{ team.name }}<span style="color: #303030;">:</span>
                                    <span style="color: #cccccc;">{{ division.name }}</span>
                                </span>
                            </div>
                            <div class="row">
                                {% if team.team %}
                                    {% for member in team.members %}
                                        <div class="col-md-3">
                                            <img src="{{ asset(team.logo) }}" class="img-responsive">
                                            <div class="btn-white p-y-06 text-ta text-xs-center">
                                                {{ team.name }}
                                            </div>
                                            <div class="btn btn-pink">
                                                <a href="{{ path('user', {'user':member.user}) }}">{{ member.user }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h1>Brak Członków :( Smutek.jpg</h1>
                                {% endif %}
                            </div>



                            <div class="teams">
                                <div class="t-img">
                                    <a href="{{ path('division',{'id': division.id}) }}">
                                        <img src="{{ asset('assets/img/lol_50.png') }}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="t-title">
                                    <a href="{{ path('division',{'id': division.id}) }}">
                                        <h3>
                                            {{ division.name }}
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>Brak Dywizj :( Smutek.jpg</h1>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
