{% extends 'all.html.twig' %}

{% block title %}TurniejBundle:Team:team{% endblock %}

{% block menu %}
    <li class="active">
        <a href="{{ path('teams') }}">
            <i class="fa fa-users" aria-hidden="true"></i> Drużyny
        </a>
    </li>
    <li>
        <a href="{{ path('team.add') }}">
            </i><i class="fa fa-plus" aria-hidden="true"></i> Stwórz
        </a>
    </li>
    <li>
        <a href="{{ path('team.join') }}">
            <i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i> Dołącz
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="jumbotron t-title">
            <h1>Drużyny</h1>
        </div>
        {% if teams %}
            {% for team in teams %}
                <div class="col-md-4">
                    <div class="jumbotron teams">
                        <div class="t-img">
                            <a href="{{ path('team',{'tag': team.tag}) }}">
                                <img src="{{ asset('assets/img/lol.jpg') }}" class="img-responsive">
                            </a>
                        </div>
                        <div class="t-title">
                            <a href="{{ path('team',{'tag': team.tag}) }}">
                                <h3>
                                    {{ team.name }}
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>Brak Drużyn :( Smutek.jpg</h1>
        {% endif %}
    </div>
{% endblock %}
