{% extends "::base.html.twig" %}

{% block title %}TurniejBundle:Team:team{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="https://www.gravatar.com/avatar/{{ team.logo }}?s=160" class="img-responsive">
            </div>
            <div class="col-md-8">
                <h2>Nazwa: {{team.name}}</h2>
                <h3>Tag: {{team.tag}}</h3>
            </div>
            <div class="col-md-8">
                <h2>Krótki opis: {{team.shortdesc}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Długi opis: {{team.description}}</h2>
            </div>
        </div>
    </div>

{% endblock %}
