{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid user-bdrop hidden-lg-down">
        {% if team.logo is empty %}
            <img class="img-fluid img-bd center-block" src="{{ asset('assets/img/bg-lol.jpg') }}">
        {% else %}
            <img class="img-fluid img-bd center-block" src="{{ asset(team.webPath) }}">
        {% endif %}
    </div>
    <div class="container p-t-1 p-b-2">
        <div class="row">
            <div class="col-md-4">
                {% if team.logo is not empty %}
                    <img class="img-responsive" src="{{ asset(team.webPath) }}">
                {% else %}
                    <img class="img-responsive" src="{{ asset('assets/img/bg-lol.jpg') }}">
                {% endif %}
                {% if app.user and team.owner == app.user.id %}
                    <div class="container-fluid">
                        <div class="row p-b-1">
                            <div class="col-md-6">
                                <div class="btn btn-green p-x-3">
                                    <a href="{{ url('team.edit', {'tag':team.tag}) }}">Edytuj</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn btn-pink p-x-3 pull-right">
                                    <a href="{{ url('team.remove', {'tag':team.tag}) }}">Usuń</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="btn-white p-y-06 text-ta text-xs-center m-b-0">
                    {{ team.name }}
                </div>
                <div class="btn-white p-y-06 text-ta text-xs-center m-b-0">
                    <span style="color: #303030;">Tag: </span>{{ team.tag }}
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    siew siew
                </div>
                <div class="btn-white-lp dots m-b-0">
                    <span class="p-x-1 text">KRÓTKI<span style="color: #303030;">OPIS</span></span>
                </div>
                <div class="grey-box p-y-1 p-l-1 m-b-1">
                    <p>{{ team.shortdesc }}</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="btn-white-lg dots m-b-0">
                        <span class="p-x-1 text">O<span style="color: #303030;">PIS</span></span>
                    </div>
                    {{ team.description|markdown }}
                </div>
                {% if divisions %}
                    {% for division in divisions %}
                        <div class="container-fluid">
                            <div class="btn-white-lp dots m-b-0">
                                <span class="p-x-1 text">
                                    <i class="fa fa-users" aria-hidden="true"></i>{{ team.name }}<span
                                            style="color: #303030;">:</span>
                                    <span style="color: #cccccc;">{{ division.name }}</span>
                                </span>
                            </div>
                            <div class="row m-t-1">
                                {% if division.members %}
                                    {% for member in division.members %}
                                        <div class="col-md-3">
                                            <img src="https://www.gravatar.com/avatar/{{ hash.hashmd5(member.user) }}?s=2048" class="img-responsive">
                                            <div class="btn-white p-y-06 text-ta text-xs-center">
                                                {{ member.user }}
                                            </div>
                                            <div class="text-xs-center btn-pink m-b-1">
                                                <a href="{{ url('user', {'user':member.user}) }}">Pokaż profil</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h1>Brak Członków :( Smutek.jpg</h1>
                                {% endif %}
                            </div>

                            {#<div class="teams">#}
                                {#<div class="t-img">#}
                                    {#<a href="{{ url('division',{'id': division.id}) }}">#}
                                        {#<img src="{{ asset('assets/img/lol_50.png') }}" class="img-responsive">#}
                                    {#</a>#}
                                {#</div>#}
                                {#<div class="t-title">#}
                                    {#<a href="{{ url('division',{'id': division.id}) }}">#}
                                        {#<h3>#}
                                            {#{{ division.name }}#}
                                        {#</h3>#}
                                    {#</a>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>Brak Dywizj :( Smutek.jpg</h1>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
