{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
            <div class="container">
                <div class="col-sm-6 btn-clear-lg p-l-1 ">
                    <span style="color: #8bc34a;">{{ team.name }}</span>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('division.add') }}" type="button" class="btn btn-green pull-sm-right"><span class="p-x-3">Dodaj nową</span></a>
                </div>
            </div>
        </div>
<div class="container">
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://www.gravatar.com/avatar/{{ team.logo }}?s=160" class="img-responsive">
                </div>
                <div class="col-md-8">
                    <h2>Nazwa: {{ team.name }}</h2>
                    <h3>Tag: {{ team.tag }}</h3>
                </div>
                <div class="col-md-8">
                    <h2>Krótki opis: {{ team.shortdesc }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Długi opis: {{ team.description }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            {% if divisions %}
                {% for division in divisions %}
                    <div class="col-md-4">
                        <div class="jumbotron teams">
                            <div class="t-img">
                                <a href="{{ path('division',{'id': division.id}) }}">
                                    <img src="{{ asset('assets/img/lol_50.png') }}" class="img-responsive">
                                </a>
                            </div>
                            <div class="t-title">
                                <a href="{{ path('division',{'id': division.id}) }}">
                                    <h3>
                                        {{ division.name }}
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1>Brak Dywizj :( Smutek.jpg</h1>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
