{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-6 btn-clear-lg p-l-1 ">
                STREAMY<span style="color: #8bc34a;">NA</span>ŻYWO
            </div>
        </div>
    </div>
    <main class="container p-t-1">
        {% block adbanner %}{{ parent() }}{% endblock %}
        <div class="row">
            <div class="col-xs-8">
                <div class="row p-y-1" id="streams-container">
                    <div class="text-xs-center" id="loading">
                        <i class="fa fa-spinner fa-pulse fa-6x p-y-1" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                {% block sidebar %}{{ parent() }}{% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/stream.js') }}"></script>
    <script>
        var stream = new Stream('{{ url("api.stream.all") }}', 'dd80eugsisvxdq2h689e6m8e3tqqzuw');
        stream.startStreamList();
        {#getStream('{{ url("api.stream.all") }}','{{ url('stream.id') }}','dd80eugsisvxdq2h689e6m8e3tqqzuw');#}
    </script>

{% endblock %}
