{% extends 'video.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>

    </div>
    <main class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="row">
                    <div class="container-fluid" id="streams-container">


                    </div>
                </div>
            </div>
            <div class="jumbotron col-xs-3" style="margin-left: 20px">
                {% block sidebar %}
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1191702130875167";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/JestemGraczemPL/" data-tabs="timeline"
                         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/JestemGraczemPL/"><a
                                        href="https://www.facebook.com/JestemGraczemPL/">JestemGraczem.pl</a>
                            </blockquote>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if streams %}
        <script>
                var stream_c=0;
                var name;
                $.ajax({
                    url: '{{ path('api.stream.id') }}/' + 1,
                    dataType: 'json',
                    success: function (streams_array) {
                        /*for (var i = 0; i < name.length; i++) {
                            console.log(stream_c);
                            var name_t = name[i]["name"];
                            console.log(name_t);*/
                        var name=streams_array;
                        console.log(name);
                        getstream(name);
                    }
                });
                function getstream(name){
                    console.log(name[stream_c]);
                    console.log(name[stream_c]["name"]);
                    console.log(name[stream_c+1]);
                    $.ajax({
                        url: 'https://api.twitch.tv/kraken/streams/' + name[stream_c]["name"],
                        dataType: 'jsonp',
                        success: function (channel) {
                            if (channel["stream"] != null) {
                                var display = channel["stream"]["channel"]["display_name"];
                                var name = channel["stream"]["channel"]["name"];
                                console.log(display + " TEST");
                                $("#streams-container").append('<div class="col-md-6" id="' + name + '"><div class="meme jumbotron"><div class="v-title" id="' + name + '_title"></div><div class="v-img" id="' + name + '_img"></div><div class="v-bottom" id="' + name + '_bottom"></div></div></div>');
                                $("#" + name).addClass('danger');
                                $("#" + name + "_status").html('ONLINE').css('font-weight', 'bold');
                                $("#" + name + "_game").html(channel["stream"]["game"]);
                                $("#" + name + "_viewers").html(channel["stream"]["viewers"]);
                                $("#" + name + "_title").html('<a href="#"><p>' + display + '<span style="float: right;color: gray;font-size: medium;">' + channel["stream"]["viewers"] + '</span></p></a>');
                                $("#" + name + "_img").html('<a href="#"> <img class="img-responsive" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_' + name + '-320x180.jpg"> </a>');
                                stream_c++;
                                if(stream_c<10)getstream(name);
                                console.log(stream_c);
                            } else {
                                if(stream_c<10)getstream(name);
                                console.log("Offline");
                            }
                        }
                    });
                }
            {#{% for stream in streams %}#}
            {#$.ajax({#}
            {#url:'https://api.twitch.tv/kraken/streams/{{ stream.name }}',#}
            {#dataType:'jsonp',#}
            {#success:function(channel) {#}
            {#if (channel["stream"] != null) {#}
            {#$("#{{ stream.name }}_status").html('ONLINE');#}
            {#$("#{{ stream.name }}_status").css('font-weight','bold');#}
            {#$("#{{ stream.name }}").addClass('danger');#}
            {#$("#{{ stream.name }}_game").html(channel["stream"]["game"]);#}
            {#$("#streams-container").append('<div class="col-md-6" id="{{ stream.name }}"><div class="meme jumbotron"><div class="v-title" id="{{ stream.name }}_title"></div><div class="v-img" id="{{ stream.name }}_img"></div><div class="v-bottom"id="{{ stream.name }}_bottom"></div></div></div>');#}
            {#$("#{{ stream.name }}_viewers").html(channel["stream"]["viewers"]);#}
            {#$("#{{ stream.name }}_title").html('<a href="#""><p>{{ stream.name }}<span style="float: right;color: gray;font-size: medium;">'+channel["stream"]["viewers"]+'</span></p>'+'</a>');#}
            {#$("#{{ stream.name }}_img").html('<a href="#"> <img class="img-responsive" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_{{ stream.name }}-320x180.jpg"> </a>');#}
            {#} else {#}
            {#$("#{{ stream.name }}").remove();#}
            {#$("#offline").append("{{ stream.name }} ");#}
            {#}#}
            {#}#}
            {#});#}
            {#{% endfor %}#}
        </script>
    {% else %}
        <h1>Brak streamów :( Smutek.jpg</h1>
    {% endif %}
{% endblock %}
