{% extends 'video.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>

    </div>
    <main class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="row">
                    <div class="container-fluid" id="streams-container">


                    </div>
                </div>
            </div>
            <div class="jumbotron col-xs-3" style="margin-left: 20px">
                {% block sidebar %}
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1191702130875167";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-href="https://www.facebook.com/JestemGraczemPL/" data-tabs="timeline"
                         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                         data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/JestemGraczemPL/"><a
                                        href="https://www.facebook.com/JestemGraczemPL/">JestemGraczem.pl</a>
                            </blockquote>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if streams %}
        <script>

            $.ajax({
                url: '{{ path('api.stream.id') }}' + 1,
                dataType: 'json',
                success: function (name) {
                    for (var i = 0; i < name.length; i++) {
                        var name_t = name[i]["name"];
                        console.log(name_t);
                        $.ajax({
                            url: 'https://api.twitch.tv/kraken/streams/' + name_t,
                            dataType: 'jsonp',
                            success: function (channel) {
                                if (channel["stream"] != null) {
                                    console.log(name_t+" TEST");
                                    $("#streams-container").append('<div class="col-md-6" id="' + name_t + '"><div class="meme jumbotron"><div class="v-title" id="' + name_t + '_title"></div><div class="v-img" id="' + name_t + '_img"></div><div class="v-bottom" id="' + name_t + '_bottom"></div></div></div>');
                                    $("#" + name_t).addClass('danger');
                                    $("#" + name_t + "_status").html('ONLINE').css('font-weight', 'bold');
                                    $("#" + name_t + "_game").html(channel["stream"]["game"]);
                                    $("#" + name_t + "_viewers").html(channel["stream"]["viewers"]);
                                    $("#" + name_t + "_title").html('<a href="#"><p>' + name_t + '<span style="float: right;color: gray;font-size: medium;">' + channel["stream"]["viewers"] + '</span></p></a>');
                                    $("#" + name_t + "_img").html('<a href="#"> <img class="img-responsive" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_' + name_t + '-320x180.jpg"> </a>');
                                } else {
                                    console.log(name_t+" ERROR");
                                    $("#" + name_t).remove();
                                    $("#offline").append(name_t);
                                }
                            }
                        });
                    }
                }
            });

            {#{% for stream in streams %}#}
            {#$.ajax({#}
            {#url:'https://api.twitch.tv/kraken/streams/{{ stream.name }}',#}
            {#dataType:'jsonp',#}
            {#success:function(channel) {#}
            {#if (channel["stream"] != null) {#}
            {#$("#{{ stream.name }}_status").html('ONLINE');#}
            {#$("#{{ stream.name }}_status").css('font-weight','bold');#}
            {#$("#{{ stream.name }}").addClass('danger');#}
            {#$("#{{ stream.name }}_game").html(channel["stream"]["game"]);#}
            {#$("#streams-container").append('<div class="col-md-6" id="{{ stream.name }}"><div class="meme jumbotron"><div class="v-title" id="{{ stream.name }}_title"></div><div class="v-img" id="{{ stream.name }}_img"></div><div class="v-bottom"id="{{ stream.name }}_bottom"></div></div></div>');#}
            {#$("#{{ stream.name }}_viewers").html(channel["stream"]["viewers"]);#}
            {#$("#{{ stream.name }}_title").html('<a href="#""><p>{{ stream.name }}<span style="float: right;color: gray;font-size: medium;">'+channel["stream"]["viewers"]+'</span></p>'+'</a>');#}
            {#$("#{{ stream.name }}_img").html('<a href="#"> <img class="img-responsive" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_{{ stream.name }}-320x180.jpg"> </a>');#}
            {#} else {#}
            {#$("#{{ stream.name }}").remove();#}
            {#$("#offline").append("{{ stream.name }} ");#}
            {#}#}
            {#}#}
            {#});#}
            {#{% endfor %}#}
        </script>
    {% else %}
        <h1>Brak streamów :( Smutek.jpg</h1>
    {% endif %}
{% endblock %}
