{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-6 btn-clear-lg p-l-1 ">
                STREAMY<span style="color: #8bc34a;">NA</span>ŻYWO
            </div>
        </div>
    </div>
    <main class="container p-t-1">
        <div class="row">
            <div class="col-xs-8">
                <div class="row p-y-1" id="streams-container">
                    <div class="text-xs-center" id="loading">
                        <i class="fa fa-spinner fa-pulse fa-6x p-y-1" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                {{ include('navbar.html.twig') }}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var u_twitch = "";
        getstream();

        function getstream() {
            $.ajax({
                url: '{{ url('api.stream') }}',
                dataType: 'json',
                success: function (stream) {
                    for (var i = 0; i < stream.length; i++) {
                        u_twitch += stream[i]["twitch"] + ",";
                    }
                    get_twitch(u_twitch);
                },
                error: function () {
                    console.log("Coś poszło nie tak podczas łączenia z api jestemgraczem");

                }
            });
        }

        function render(channel) {
            var display = channel["channel"]["display_name"];
            var name = channel["channel"]["name"];
            $("#streams-container").append('<div class="col-md-6" id="' + name + '"><div class=""><div class="v-title" id="' + name + '_title"></div><div class="v-img" id="' + name + '_img"></div><div class="v-bottom" id="' + name + '_bottom"></div></div></div>');
            $("#" + name).addClass('danger');
            $("#" + name + "_status").html('ONLINE').css('font-weight', 'bold');
            $("#" + name + "_game").html(channel["game"]);
            $("#" + name + "_viewers").html(channel["viewers"]);
            $("#" + name + "_title").html('<a href="{{ url('stream.id') }}/' + name + '"><h2 class="m-b-0 m-t-1">' + display + '<span style="float: right;color: #8bc34a;font-size: medium;">' + channel["viewers"] + '</span></h2></a>');
            $("#" + name + "_img").html('<a href="{{ url('stream.id') }}/' + name + '"> <img class="img-responsive" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_' + name + '-640x360.jpg"> </a>');
        }

        function get_twitch(stream) {
            $.ajax({
                url: 'https://api.twitch.tv/kraken/streams/?channel=' + stream,
                dataType: 'jsonp',
                success: function (channel) {
                    document.getElementById("loading").remove();
                    first(channel["streams"][0]);
                    for (var i = 1; i < channel["streams"].length; i++) {
                        render(channel["streams"][i]);
                    }
                }, error: function () {
                    console.log("Coś poszło nie tak podczas łączenia z api twitch");
                }
            });
        }
        function first(channel) {
            var display = channel["channel"]["display_name"];
            var name = channel["channel"]["name"];
            $("#streams-container").append('<div class="col-md-12" id="' + name + '"><div class=""><div class="v-title" id="' + name + '_title"></div><div class="v-img" id="' + name + '_img"></div><div class="v-bottom" id="' + name + '_bottom"></div></div></div>');
            $("#" + name).addClass('danger');
            $("#" + name + "_status").html('ONLINE').css('font-weight', 'bold');
            $("#" + name + "_game").html(channel["game"]);
            $("#" + name + "_viewers").html(channel["viewers"]);
            $("#" + name + "_title").html('<a href="{{ url('stream.id') }}/' + name + '"><h2 class="m-b-0 m-t-1">' + display + '<span style="float: right;color: #8bc34a;font-size: medium;">' + channel["viewers"] + '</span></h2></a>');
            $("#" + name + "_img").html('<a href="{{ url('stream.id') }}/' + name + '"> <img class="img-responsive" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_' + name + '-1920x1080.jpg"> </a>');
        }
    </script>
{% endblock %}
