{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-6 btn-clear-lg p-l-1 ">
                LIVE<span style="color: #8bc34a;">STREAM</span><span
                        style="text-transform: uppercase">{{ stream.twitch }}</span>
            </div>
        </div>
    </div>
    <main class="container-fluid">
        {% block adbanner %}{{ parent() }}{% endblock %}
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="container-fluid">
                        <div class="video jumbotron twitch">
                            <div class="v-bottom">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"
                                            src="http://player.twitch.tv/?channel={{ stream.twitch }}"></iframe>
                                </div>
                            </div>
                        </div>
                        <div id="data" class="video jumbotron">
                            <div class="v-bottom" style="text-align: right">
                                <i class="fa fa-user" aria-hidden="true" style="color: #FF0000"></i>
                                <span id="viewers" class="label label-danger">Ładowanie...</span>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span id="views" class="label label-danger">Ładowanie...</span>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span id="followers" class="label label-danger">Ładowanie...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="container-fluid">
                        <div class="video jumbotron twitch">
                            <div class="v-bottom">
                                <div class="embed-responsive embed-responsive-4by3 embed-responsive-twitch-chat">
                                    <iframe class="embed-responsive-item"
                                            src="https://www.twitch.tv/{{ stream.twitch }}/chat"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function metadata() {
            $.ajax({
                url: 'https://api.twitch.tv/kraken/streams/{{ stream.twitch }}',
                dataType: 'jsonp',
                success: function (channel) {
                    if (channel["stream"] != null) {
                        $("#viewers").html(channel["stream"]["viewers"]);
                        $("#game").html(channel["stream"]["game"]);
                        $("#followers").html(channel["stream"]["channel"]["followers"]);
                        $("#views").html(channel["stream"]["channel"]["views"]);
                    } else {
                        $("#gametext").remove();
                        $("#data").remove();
                    }
                }
            });
        }
        setInterval("metadata();", 10000);
    </script>
{% endblock %}