{% extends 'all.html.twig' %}

{% block menu %}
    <p class="navbar-text">{{ stream.name }}</p>
    <li>
        <a href="{{ path('stream') }}">
            <i class="fa fa-twitch" aria-hidden="true"></i> Lista Streamów
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="video jumbotron">
            <div class="v-title">
                <h3>{{ stream.name }}</h3>
            </div>
        </div>
        <div class="video jumbotron">
            <div class="v-bottom">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="https://player.twitch.tv/?channel={{ stream.name }}"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="embed-responsived embed-responsive-4by3">
        <iframe class="embed-responsive-chat" src="https://www.twitch.tv/{{ stream.name }}/chat?popout="
                width="300px"></iframe>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .embed-responsived iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 500px;
            width: 100%;
            border: 0;
        }

        .embed-responsive-chat {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 500px !important;
            width: 100%;
            border: 0;
        }
    </style>
{% endblock %}