{% extends 'all.html.twig' %}

{% block menu %}
    <li>
        <a href="{{ path('stream') }}">
            <i class="fa fa-twitch" aria-hidden="true"></i> Lista Streamów
        </a>
    </li>
    <p class="navbar-text">{{ stream.name }}</p>
    <p id="gametext" class="navbar-text">
        Gra: <span id="game" class="label label-danger">Ładowanie...</span>
    </p>
    <p class="navbar-text">
        Ilość widzów: <span id="viewers" class="label label-danger">Ładowanie...</span>
    </p>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="video jumbotron">
            <div class="v-bottom">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="http://player.twitch.tv/?channel={{ stream.name }}"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <a href="{{ path('redirect') }}?url=https://www.twitch.tv/{{ stream.name }}">
        <i class="fa fa-twitch"></i> Twitch
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function metadata(){
            $.ajax({
                url:'https://api.twitch.tv/kraken/streams/{{ stream.name }}',
                dataType:'jsonp',
                success:function(channel) {
                    if (channel["stream"] != null) {
                        $("#viewers").html(channel["stream"]["viewers"]);
                        $("#game").html(channel["stream"]["game"]);
                    } else {
                        $("#gametext").remove();
                        $("#viewers").html("OFFLINE");
                    }
                }
            });
        }
        setInterval("metadata();",10000);
    </script>
{% endblock %}