{% extends "base.html.twig" %}

{% block menu %}
    <li><a href="{{ path('video') }}">Główna</a></li>
    <li><a href="{{ path('video.wait') }}">Poczekalnia</a></li>
    <li><a href="{{ path('video.add') }}">Dodaj</a></li>
{% endblock %}

{% block title %}Dodaj film{% endblock %}
{% block titlemeta %}Dodaj{% endblock %}

{% form_theme form ':Form:form.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}{% endblock %}
