{% extends "base.html.twig" %}

{% block body %}
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">
            {{ 'button.newest.new'|trans }} {{ 'button.newest.video'|trans }}
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url('video.add') }}" class="btn btn-danger btn-block">
                    {{ 'button.add'|trans }}
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url('video') }}" class="btn btn-primary btn-block">
                    {{ 'button.main'|trans }}
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url('video.wait') }}" class="btn btn-secondary btn-block">
                    {{ 'button.waitingroom'|trans }}
                </a>
            </div>
        </div>
        {% block adbanner %}{{ parent() }}{% endblock %}
    </div>

    <section id="mems">
        <main class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="container-fluid">
                            {% if videos %}
                                <div class="row">
                                    {% for video in videos %}
                                        <div class="col-md-6 marginFor">
                                            <div class="view hm-zoom">
                                                <img src="https://img.youtube.com/vi/{{ video.videoid }}/mqdefault.jpg" class="img-fluid img-full" alt="{{ video.title|slice(0,23) }}">
                                                <div class="mask flex-center">
                                                    <a href="{{ url('video.id',{'id': video.id}) }}" class="white-text">
                                                        <span class="tag red">{{ video.title|slice(0,40) }}
                                                            {% if video.title|length > 40 %}
                                                                ...
                                                            {% endif %}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if page > 0 %}
                                            <a href="{{ url('video',{'page': page-1}) }}"
                                               class="btn btn-raised btn-danger btn-block">{{ 'button.prev'|trans }}</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{{ url('video',{'page': page+1}) }}"
                                           class="btn btn-raised btn-danger btn-block">{{ 'button.next'|trans }}</a>
                                    </div>
                                </div>
                            {% else %}
                                <h1>Brak filmów :( Smutek.jpg</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {% block sidebar %}{{ parent() }}{% endblock %}
                </div>
            </div>
        </main>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
