{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-6 btn-clear-lg p-l-1 ">
                <span style="color: #8bc34a;">NAJNOWSZE</span>FILMY
            </div>
            <div class="col-sm-6">
                <a href="{{ path('video.add') }}" type="button" class="btn btn-green pull-sm-right">
                    <span class="p-x-3">Dodaj nowy</span>
                </a>
            </div>
        </div>
    </div>
    <main class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="row">
                    <div class="container-fluid">
                        {% if videos %}
                            <div class="row">
                                {% for video in videos %}
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-block">
                                                <h4 class="card-title">{{ video.title|slice(0,22) }}...</h4>
                                            </div>
                                            <a href="{{ path('video.id',{'id': video.id}) }}">
                                                <img src="http://img.youtube.com/vi/{{ video.videoid }}/mqdefault.jpg"
                                                     alt="{{ video.title|slice(0,23) }}"
                                                     class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {% if page > 0 %}
                                        <a href="{{ path('video',{'page': page-1}) }}"
                                           class="btn btn-raised btn-danger btn-block">Poprzednie</a>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <a href="{{ path('video',{'page': page+1}) }}"
                                       class="btn btn-raised btn-danger btn-block">Kolejne</a>
                                </div>
                            </div>
                        {% else %}
                            <h1>Brak filmów :( Smutek.jpg</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a href="{{ path('video.wait') }}" type="button" class="btn btn-green btn-block"><span class="p-x-3">Poczekalnia</span></a>
                {{ include('navbar.html.twig') }}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
