{% extends 'all.html.twig' %}

{% block menu %}
    <p class="navbar-text">{{ video.title }}</p>
    <li><a href="{{ path('video') }}">Główna</a></li>
    <li><a href="{{ path('video.wait') }}">Poczekalnia</a></li>
    <li><a href="{{ path('video.add') }}">Dodaj</a></li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="video jumbotron">
            <div class="v-title">
                <h3>{{ video.title }}</h3>
            </div>
            </div>
        <div class="video jumbotron">
            <div class="v-img embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.videoid }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="v-bottom">

            </div>
        </div>
        <div class="video jumbotron">
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6&appId=1792775277616619";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-comments" data-href="{{ absolute_url(path('video.id', {'id': video.id})) }}"
                 data-numposts="10"></div>
        </div>
    </div>
{% endblock %}