{% extends "material/base.html.twig" %}

{% block body %}
    {% block adbanner %}{{ parent() }}{% endblock %}
    <div class="divider-new">
        <h2 class="h2-responsive wow bounceIn">
            Opłacenie turnieju
        </h2>
    </div>
    <div class="container" style="margin-top: 10px">
        {% if message=='payment.success' %}
            <div class="bg-success p-l-1 p-y-06 text-md-center">
                <h4><i class="fa fa-check-circle" aria-hidden="true"></i> {{ message|trans }}</h4>
            </div>
        {% elseif message=='payment.waiting' %}
            <div class="bg-warning p-l-1 p-y-06 text-md-center">
                <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message|trans }}</h4>
            </div>
        {% elseif message=='payment.error' %}
            <div class="bg-danger p-l-1 p-y-06 text-md-center">
                <h4><i class="fa fa-times-circle" aria-hidden="true"></i> {{ message|trans }}</h4>
            </div>
        {% endif %}
        <h4>Kwota: {{ payment.total_amount/100 }}{{ payment.currency_code }}</h4>
        <h4>W razie problemów z płatnością lub rekamacjami prosimy o kontakt na adres: support@jestemgraczem.pl</h4>
        <p>Token tranzakcji: {{ token.hash }}</p>
    </div>
{% endblock %}