{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid top p-t-3 p-b-2">
        <div class="container">
            <div class="col-sm-6 btn-clear-lg p-l-1 ">
                <span style="color: #8bc34a;">Opłacenie turnieju</span>
            </div>
        </div>
    </div>
    <div class="container p-t-1">
        {% if message=='payment.success'%}
            <div class="bg-success p-l-1 p-y-06 text-md-center">
                <h4><i class="fa fa-check-circle" aria-hidden="true"></i> {{ message|trans }}</h4>
            </div>
        {% elseif message=='payment.waiting' %}
            <div class="bg-warning p-l-1 p-y-06 text-md-center">
                <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message|trans }}</h4>
            </div>
        {% elseif message=='payment.error' %}
            <div class="bg-danger p-l-1 p-y-06 text-md-center">
                <h4><i class="fa fa-times-circle" aria-hidden="true"></i> {{ message|trans }}</h4>
            </div>
        {% endif %}
        <h4>Kwota: {{ payment.total_amount/100 }}{{ payment.currency_code }}</h4>
        <h4>W razie problemów z płatnością lub rekamacjami prosimy o kontakt na adres: support@jestemgraczem.pl</h4>
        <p>Token tranzakcji: {{ token.hash }}</p>
    </div>
{% endblock %}